[2018-08-02 20:24] ozasadnyy commented on #482
@mkozachok please provide steps to reproduce.
We don't have any issues on DevFest Ukraine website while updating pretty often.
After each build, if you change any file generated hash should be different in SW file. Could you check if it's happening?

[2018-08-02 22:03] mkozachok commented on #482
@ozasadnyy yes, hash changes. How to disable this feature? I removed SW file, but this did not help.

[2018-08-03 08:10] ozasadnyy commented on #482
@mkozachok try to remove this line https://github.com/gdg-x/hoverboard/blob/master/index.html#L135

The default behavior is to show toast when SW removed old files and cached new:  https://github.com/gdg-x/hoverboard/blob/master/scripts/service-worker-registration.js#L25

[2018-08-03 08:27] mkozachok commented on #482
Also tried this, no result. The same behavior.

[2018-08-03 11:24] mkozachok commented on #482
@ozasadnyy  this helped to clear caches https://stackoverflow.com/questions/45467842/how-to-clear-cache-of-service-worker

[2018-08-03 12:33] ozasadnyy commented on #482
Would you like to send PR?

[2018-08-04 03:35] juliusspencer opened #483 "Become a partner - documentation"
How does the feature `Become a partner` work?

I'm not sure where to ask this question. Maybe it's a documentation issue?

Thank you!

[2018-08-04 06:52] aayushagra opened #484 "Hoverboard can't connect to FireStore"
We're trying to setup HoverBoard but it's not able to pull any data from FireStore. Instead, it just leaves all the database field blank. Please see screenshots attached.

![capture](https://user-images.githubusercontent.com/4214851/43673443-01916252-97e1-11e8-8a8f-0bfa237ef647.JPG)
![capture2](https://user-images.githubusercontent.com/4214851/43673444-01c33ec6-97e1-11e8-9d76-c49310701cbe.JPG)
![c

[2018-08-05 14:50] sophieH29 commented on #483
Hello @juliusspencer,

`Become a partner` button opens a form to fill in with a company name, name and email. This data is saved into Frirestore DB, `potentialPartners` node. So that you can contact back those people who are interested to be a partner with you.

[2018-08-05 14:53] sophieH29 commented on #484
Hello @aayushagra, I need more details on it.  Have you configured Firebase project and filled Firestore DB with data?

[2018-08-10 18:26] aayushagra commented on #484
@sophieH29 Yes I've entered the credentials in the development.json file & Firestore DB is loaded with the data

[2018-08-15 17:29] Nuruddinjr opened #488 "Suggestion: Add `Who uses the template?` section as on v1 to Readme."

[2018-08-19 11:35] pamuditha opened #489 "New Feature: Android App based on Hoverboard database"
The idea is to create a separate Android app then time to time we can push notifications.people can access easily their mobile phone.

check this https://github.com/CodeLanka/ezevent

[2018-08-19 11:48] maghassan commented on #489
Wow! this is a great idea, but is it for Devfest and how can I join to participate?

[2018-08-20 13:35] tasomaniac commented on #489
Please have a look at this issue on Squanchy. Squanchy project is used for Droidcon Italy. It has a firestore based backend. Integrating Hoverboard data with their backend will enable Squanchy app to work with Hoverboard.

https://github.com/squanchy-dev/squanchy-firebase/issues/59

[2018-08-20 13:36] tasomaniac commented on #489
Also please have a look at this on the Android code fore reference https://github.com/squanchy-dev/squanchy-android/issues/292

[2018-08-22 18:09] yyssahn opened #490 "Text is white n white background not rendered in firefox"
Firefox version : 61.0.1 (64-bit)
OS : Ubuntu

https://imgur.com/G1feQ0M
As you can see, text is white with a white background

I am assuming this CSS property isn't being applied in FF
paper-button[primary][invert] {
    color: var(--default-primary-color);
    background-color: var(--text-primary-color);
}

[2018-08-22 18:33] ozasadnyy commented on #488
We decided not to add this section as according to previous experience people will not update their url if they add them to the list. In result, we have a bunch of not working links.

[2018-08-22 18:33] #488 closed

[2018-08-22 18:50] ozasadnyy commented on #484
@aayushagra could you give the url to your webapp?

[2018-08-22 18:53] ozasadnyy commented on #482
The issue with updating SW should be fixed in #491

[2018-08-22 18:53] #482 closed

[2018-08-22 18:54] ozasadnyy commented on #474
@Nuruddinjr any news here?

[2018-08-22 18:55] ozasadnyy commented on #472
@cleopatra27 any updates here?

[2018-08-22 18:55] ozasadnyy commented on #476
@Nuruddinjr do you still experience the same issue?

[2018-08-22 22:53] cliveb opened #492 "Firebase Summit ..."
Hoverboard make a great demo in Prague, apparently request a ticket to summit 29 October 2018, Prague, Czech Republic https://firebase.google.com/summit/

[2018-08-23 07:52] ozasadnyy commented on #492
@sophieH29 and me already have tickets, so will be there ;)

[2018-08-23 08:04] sophieH29 commented on #492
yaaay!

[2018-08-23 08:06] #492 closed

[2018-08-24 05:59] Nuruddinjr commented on #476
@ozasadnyy no, at this moment I dont have it.

[2018-08-24 05:59] #476 closed

[2018-08-25 11:26] ozasadnyy commented on #490
Fixed in #493

[2018-08-25 11:26] #490 closed

[2018-08-25 11:27] ozasadnyy commented on #483
Fixed in #493

[2018-08-25 11:27] #483 closed

[2018-08-25 11:28] ozasadnyy commented on #286
@aygul would you like to build actions for DevFest attendees to get the information about the schedule (and selected sessions), speakers and other important information?

[2018-08-25 18:15] aygul commented on #286
@ozasadnyy @abraham The Action on Google for individual DevFests is work in progress. It'll be shared very soon, so stay tuned 👍

[2018-08-27 16:40] ozasadnyy commented on #484
@doudoujay don't make your data public :)
We have set up [Firestore rules](https://github.com/gdg-x/hoverboard/blob/master/firestore.rules) inside the project, please run `firebase deploy --only firestore:rules` from the root folder to deploy them. I will add this step to init script.
Thanks for pointing out!

[2018-08-27 19:02] lockerfish opened #495 "mailchimp subscribe fails"
I suspect that the submit function defined in subscribe-block.html is not recognized.
...
 submit: (data) => this._subscribeAction(data),
...

subscribe-dialog.html:197 Uncaught TypeError: this.data.submit is not a function
    at HTMLElement._subscribe (subscribe-dialog.html:197)
    at HTMLElement.handler (template-stamp.html:92)
    at Object._fire (gestures.html:687)
    at Object.forward (ges

[2018-08-28 08:01] sophieH29 commented on #495
Hello @lockerfish,

Does it always happen to you? Or there are specific cases when the error occurs. We haven't experienced such error, would be very helpful to have a detailed information.

[2018-08-28 22:33] lockerfish commented on #495
I was running local. Also, developing on a chromebook not sure if firewall settings were a factor but after deploying and upgrading firebase to the paid [blaze] plan, mailchimp api works.

So, this is what I learned. Sharing in case someone else runs into the same issue.

If you follow the install steps, everything works except login and subscribe. I believe because they both need cloud functions

[2018-08-28 22:33] #495 closed

[2018-08-29 07:36] ozasadnyy commented on #495
Yup, you are absolutely right, you need Plaze plan for outbound network request :)

[2018-08-31 15:56] maghassan commented on #489
Ok. If Firestore is to be used, then all this in-search features would not be possible unless we're using something like Algolia, or some cracked a way out.

[2018-09-01 12:10] Nuruddinjr commented on #484
@aayushagra I also have the same problem, did you solve it?
It is showing skeletons instead of data.
@ozasadnyy I tried `firebase deploy --only firestore:rules` but doesn't work. It deletes the data but doesn't import

[2018-09-02 09:35] ozasadnyy commented on #484
@Nuruddinjr this command only deploys Firebase rules. To import data you should use `npm run firestore:init`

[2018-09-03 07:02] Nuruddinjr commented on #484
@ozasadnyy I did `yarn firestore:init` multiple times, no result

[2018-09-03 08:01] ozasadnyy commented on #484
@Nuruddinjr did you set the right serviceAccount?
(look at 4 https://github.com/gdg-x/hoverboard/blob/master/docs/tutorials/firebase.md)

[2018-09-03 09:05] Nuruddinjr commented on #484
@ozasadnyy yes, it deletes my collection from firestore, but doesn't write

[2018-09-03 09:08] ozasadnyy commented on #484
@Nuruddinjr please show your console output and validate json [file with initial data](https://github.com/gdg-x/hoverboard/blob/master/docs/default-firebase-data.json)

[2018-09-03 09:49] pamuditha opened #500 "No proper configuration document for push notifications"

[2018-09-03 09:50] pamuditha commented on #500
@sophieH29  please look at it

[2018-09-04 22:53] danielgek opened #501 "MailChimp configuration"
firebase tools don't support configs var with uppercase letters
if you try to execute the command in the docs this will come up:
[code]

i can make a pr to fix this

[2018-09-05 06:54] sophieH29 commented on #501
Hello @danielgek, you're totally right, my bad. Thank you for bringing it up and your PR is very welcome!

[2018-09-06 07:48] #501 closed

[2018-09-19 19:00] matiaspunx opened #508 "I can't deploy."
Hi!
since 2 days I can not do the deploy. I don't know why.
Can anyone help me?
Thanks in advance.

[code]

[2018-09-19 19:15] matiaspunx commented on #508
Found it!
It's a Node v10 problem, I downgrade to Node v8 and works like a charm! 👍

[2018-09-19 19:15] #508 closed

[2018-09-25 06:57] venqka opened #510 "Order partners"
Hello,

Is there a way to set a custom order for the partners? We have a few groups of partners and would like to order them.

Thanks

[2018-09-25 15:41] ozasadnyy commented on #510
Right now there is default order by document name.
Would you like to create a PR and add order property to these documents and fetch on front-end part according to values?
![image](https://user-images.githubusercontent.com/2954281/46025784-60981b80-c0f2-11e8-96fc-5caf9ae54aa4.png)

[2018-10-04 15:34] pentium10 opened #518 "sharing on social media not pulling meta info"
sharing on social media no longer works, it returns back with error

![image](https://user-images.githubusercontent.com/465691/46485337-27536000-c804-11e8-8bd5-09c2e6280e6c.png)

[2018-10-04 15:45] abraham commented on #518
Facebook is getting a 500 error.

https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fhoverboard-master.firebaseapp.com%2Fblog%2Fposts%2Fwhat-to-do-in-lviv%2F

[2018-10-04 16:12] pentium10 commented on #518
sorry I forget to read the full documentation and SEO name is misleading
you need to install rendertron to app engine, and set firebase function config and works

as described here: https://github.com/gdg-x/hoverboard/blob/master/docs/tutorials/seo.md

[2018-10-04 16:12] #518 closed

[2018-10-07 10:50] pamuditha commented on #500
@ozasadnyy  any update

[2018-10-13 23:57] cnishina opened #523 "Link to buy tickets does not work in app drawer"
There is a `$` on `href$=[[tickets.url]]`. This can be demo'd in the https://hoverboard-master.firebaseapp.com/ website when the app-drawer is on the left. See https://github.com/gdg-x/hoverboard/blob/master/src/hoverboard-app.html#L169

Also the `tickets` object is a list. The reference to tickets.url probably does not work.

[2018-10-20 16:44] yong076 commented on #472
@ozasadnyy Hi! I am having a lot of trouble preparing for the conference, so I tried to do it myself. FireBase Web Console -> DataBase -> FireStone. Of course I would have done it, but if someone sees the issue, I hope it helps.

[2018-10-23 06:36] MrCsabaToth commented on #468
Hoverboard can definitely benefit from contributions. Compared to DeLoeran I'd say there are two things Hoverboard can catch up: 1. administrative views to easily modify Speakers, Sponsors, Schedule through web UI. These would work on the Firebase DB, in DeLorean these extra Edit features are added on-demand to the respective views in case someone is an admin of the site. 2. Better iOS support for

[2018-10-28 09:55] bstrandjev opened #528 "Add app to home screen not displayed"
I saw that when one accesses dev fest Ukraine's page on a mobile phone with the latest version of Chrome he is prompted if he wants to add the app on the home screen in a nice dialog. I liked this feature, but was not able to replicate it to hoverboard.

Can somebody help me find out what needs to be added so this happens? We already have manifest.json in the hoverboard master, so this is not the

[2018-10-28 11:03] ozasadnyy commented on #528
@bstrandjev you already have everything. Here is the script that registers SW https://github.com/gdg-x/hoverboard/blob/master/scripts/service-worker-registration.js
SW itself is generating during the build https://hoverboard-master.firebaseapp.com/service-worker.js

All we have to add is a listener to show a dialog (this was added in the recent version of chrome, so we have to update our code)
htt

[2018-10-31 08:33] ozasadnyy commented on #528
Fixed in #529

[2018-10-31 08:33] #528 closed

[2018-10-31 08:35] ozasadnyy commented on #523
Fixed in eaccec290cdadd8a4d30a2bcc843b00c4c78283a

[2018-10-31 08:35] #523 closed

[2018-10-31 08:36] ozasadnyy commented on #510
Fixed in #514

[2018-10-31 08:36] #510 closed

[2018-10-31 08:38] ozasadnyy commented on #484
Closing for now, feel free to reopen if you still have this issue.

[2018-10-31 08:38] #484 closed

[2018-10-31 08:39] ozasadnyy commented on #472
Closing the issue. Don't forget to enable Firestore in Firebase admin

[2018-10-31 08:39] #472 closed

[2018-11-04 23:54] juliusspencer opened #531 "Maps stopped working"
Hi,

The map has been working for months, but just stopped working. It is replaced with a message:
[code]

The console has:
[code]

I've gone into my project on Google and enabled 'Maps JavaScript API'.

Has anyone else had this issue? I'm not sure how maps are configured in the project.

Thanks
Julius. (GDG Auckland, NZ)

[2018-11-05 00:01] juliusspencer commented on #531
Sorry looks like I didn't change the API key to the one associated with my Firebase project. Once I added the credential API key it started working.

[2018-11-05 00:01] #531 closed

[2018-11-10 20:43] muldoon2007 opened #534 "Can’t figure out how to add new blog posts and fix"
Hi, I’m organizing a conference and would love to use hoverboard as a template.

I am seeing that the blog posts aren’t correctly rendering markdown (for example here: https://hoverboard-master.firebaseapp.com/blog/posts/c4p/) — do you how this can be fixed, and is there any documentation on the proper process for creating new markdown blog entries?

Thanks and this is an amazing template — I hope

[2018-11-14 02:18] domesticmouse opened #535 "Hiding Google Maps branding?"
If I am reading your CSS correctly, the combination of https://github.com/gdg-x/hoverboard/blob/bd10fb6a355834abe203fe9c5db881ecc917f2fb/src/elements/map-block.html#L47 and https://github.com/gdg-x/hoverboard/blob/bd10fb6a355834abe203fe9c5db881ecc917f2fb/src/elements/map-block.html#L53 will wind up with a Google Map showing without branding.

Can you please make these two the same height please? T

[2018-11-18 15:30] bstrandjev opened #536 "Can not promote develop changes to a project running master code"
My scenario is the following:
 - I have a devfest website created from a fork of Master
 - I created all needed data, but in firebase directly (i.e. I have not updated firebase default data, rather added by hand in firesotre; I think this should be the right approach to that)
 - I now want to add some new additions from the develop branch to my project. However, if I merge develop in master; do fi

[2018-11-18 15:31] bstrandjev commented on #536
What is the process that hoverboard team follows for promoting changes from dev to prod?

[2018-11-18 15:49] ozasadnyy commented on #536
@bstrandjev it's weird as firebase function for generating speakers/schedule/sessions data should be deployed if you run `firebase deploy --only functions`.
Do you have these functions deployed?
![image](https://user-images.githubusercontent.com/2954281/48674868-e2884c00-eb59-11e8-8dec-0d1261cc101d.png)

After that you should get next nodes in your DB
![image](https://user-images.githubusercontent

[2018-11-18 15:53] bstrandjev commented on #536
I confirm the functions were created.

I also confirm that actions.js was defined to use the generated entities.

I, frankly, can not tell why the sections described above did not load.

Does the scenario described above work ok for you?

[2018-11-18 15:53] ozasadnyy commented on #535
@domesticmouse yeah, sorry about that.
Actually, I am thinking of moving from dynamic maps to static one as we only need to display a place.

[2018-11-18 15:57] ozasadnyy commented on #536
I will try tomorrow.
They should be created when you change anything in speakers/schedule/sessions node. Probably function is failing? Could you please check that?

[2018-11-18 16:03] bstrandjev commented on #536
I do not see failures. But the problem is that I am not after any modifications - the data is already there. Can it be that we need to add logic to create such generated entities for all already existing records in firestore, before the function is added?

[2018-11-18 16:25] Nuruddinjr opened #537 "Deployment don't update site data"
When I build and deploy new website, I don't get `new version available` toast, instead it gives following error on console
[code]

But website content is still same.

What might be the problem?

I can go to application and clear cache, or open incognito to see the changes, but how about our users? how do they see the changes?

[2018-11-18 16:32] ozasadnyy commented on #537
@Nuruddinjr fixed in develop branch. Please fetch changes from there and let us know if it works for you

[2018-11-18 16:38] ozasadnyy commented on #536
I am sure that understand your question correctly but function generates data based on your existing records. Just need to trigger it

[2018-11-18 16:43] bstrandjev commented on #536
My current understanding is that these functions are triggered on every new record for sessions, speakers and schedule. This is why I started wondering how are the already-existing entries processed by these functions. It might be that I am wrong in my understanding.

How am I to trigger these functions then?

[2018-11-18 16:52] Nuruddinjr commented on #537
@ozasadnyy seems like it fixes the problem.

[2018-11-19 05:06] domesticmouse commented on #535
Sgtm!

[2018-11-19 08:58] ozasadnyy commented on #536
No, the function will be triggered on each create/update/delete operation and process all nodes, no matter when it was created. The easiest way to trigger it is to update some description of any speaker or session

[2018-11-19 08:58] #537 closed

[2018-11-19 12:11] bstrandjev commented on #536
Hi Oleh, I do confirm that manual edit on all these entities works on the default firebase data.
On my real example, though the generation of schedule fails (the other two succeed). Do you have any suggestion how can I debug this issue (I recognize one might say this is my personal problem, but overall the current feedback from these generations is close to zero, and this needs to be addressed)

[2018-11-20 14:13] bstrandjev commented on #536
The flag truly did the trick, but I believe this was far from obvious thing to do. I wonder how is this whole process to be documented?
Also what about the question on release and merge to master strategy? When are these changes to be promoted to master?

[2018-11-20 14:58] ozasadnyy commented on #536
New users will not feel any difference but I am with you that it should be documented somehow.
About the release, probably this week. As you see we have to document it properly and describe a migration path.

[2018-11-26 17:30] ozasadnyy commented on #536
Now there will be an error in Firebase functions console if there is no schedule config set https://github.com/gdg-x/hoverboard/commit/b58600e41835b174ee0395f71eb899e17b5e7671

[2018-11-26 17:30] #536 closed

[2018-11-26 21:11] ozasadnyy commented on #535
Fixed in 81292f455d6d8b359091a8918ee85c6db56eb359

[2018-11-26 21:11] #535 closed

[2018-11-28 22:13] gigamesh commented on #518
@pentium10 I'm stuck on step 1 "Deploy rendertron on your AppEngine" ...I can't find instructions on how to do this anywhere. Could you help? :)

[2018-11-29 01:37] gigamesh opened #539 "Blog editor I made"
I'm on the team for RadicalxChange, a conference taking place in Detroit in March, and we're using the hoverboard template.  Thanks for making our lives easier! However, I felt it was in need of a web-based editor for the blog so I decided to build one.  😊

Here is a demo using the dev version of our site:

Editor:  https://rxc-blog-dev.firebaseapp.com/
Blog:  https://hoverboard-site-8fb1d.firebas

[2018-11-29 09:39] pentium10 commented on #518
@gigamesh Rendertron is a separate project, follow their documentation for deploys: https://github.com/GoogleChrome/rendertron#deploying-to-google-cloud-platform

[2018-11-30 09:14] ozasadnyy commented on #539
Hey @gigamesh great work! Btw, content is markdown, so you can connect some advanced editor there.
And yeah, please publish it somewhere. Can be a good start for a CMS.

[2018-11-30 19:45] gigamesh commented on #539
Thanks!  Yeah I have it set up to parse the markdown when the "preview" button is clicked. I'd love to add a rich text editor ala the github comment box but I haven't been able to find one that can be easily integrated.

[2018-11-30 20:02] muldoon2007 commented on #537
@ozasadnyy I have run into this as well. Is this the commit that we need to incorporate? https://github.com/gdg-x/hoverboard/commit/f4689d37b3c4a5e298c9008b616502caa9b06a38#diff-dfd70b60f8469fdc3ee3b3935d64d130

[2018-12-02 09:35] ozasadnyy commented on #537
@muldoon2007 yes it is :)

[2018-12-03 01:55] gigamesh commented on #539
Here is a repo of a more universal version of it. Works well with hoverboard but can be plugged into any site: https://github.com/gigamesh/fireblog

[2018-12-10 09:13] theevilhead commented on #534
hey @muldoon2007 maybe you can give this a try http://demo.showdownjs.com/ for now

[2018-12-17 12:33] gangadharjannu opened #541 "DEPRECATED: HTML Imports"
While running the application in chrome I could see the warning `[Deprecation] HTML Imports is deprecated and will be removed in M73, around March 2019. Please use ES modules instead. See https://www.chromestatus.com/features/5144752345317376 for more details.`

If this is going to be deprecated what is the future of this application?

[2019-01-02 21:16] jcf120 commented on #541
I'd also very much like to know, please! Does hoverboard have any kind of fallback for when html imports no longer work? The planned Chrome removal date coincides with our conference, so the timing is rather unfortunate!

[2019-01-02 21:34] abraham commented on #541
Yes, if you site works now in Firefox it should continue to in Chrome after they remove HTML Imports support. It might be a little slower as it will have to use the polyfill.

[2019-01-02 21:37] jcf120 commented on #541
Thanks!

[2019-01-03 18:44] felixzapata commented on #541
hi, according with this article [Web Components v0 deprecations](https://www.polymer-project.org/blog/2018-10-02-webcomponents-v0-deprecations):

[2019-01-16 23:05] Splaktar commented on #534
There does appear to be a lack of docs/tutorials for the blog functionality of Hoverboard.

I have been using HTML in the `content` field of the blog post object and it has been working well.

[2019-01-16 23:22] Splaktar opened #543 "blog: sharing blog post URLs is not social media friendly"
## Expected outcome
When sharing blog posts, the G+, Twitter, and Facebook meta tags like `og:url, og:type, og:title, og:image, og:description, fb:app_id` should be defined and allow for a rich sharing experience.

## Actual outcome
Facebook:
![image 1](https://user-images.githubusercontent.com/3506071/51284605-11843800-19ba-11e9-9122-bee18278f2d1.png)

G+:
![screen shot 2019-01-16 at 6 12 16 pm](

[2019-01-16 23:53] Splaktar commented on #543
Is this solved by https://github.com/gdg-x/hoverboard/blob/master/docs/tutorials/seo.md?

Also since the change to [run on App Engine Standard instead of Flex](https://github.com/GoogleChrome/rendertron/commit/fc2959db5750b074009184c8cd969a7eba0c5c2a) it seems like this should cost a lot less than the $60 a month mentioned in the tutorial. Does anyone have experience with the cost on GAE Standard?

[2019-01-17 00:18] Splaktar commented on #543
For `firebase functions:config:set site.domain="YOUR_SUB_DOMAIN_HERE.firebaseapp.com"` should this always be using `firebaseapp.com` even if you have a custom domain for your site like `devfestflorida.org`?

[2019-01-17 00:37] Splaktar commented on #543
OK, I've got Rendertron deployed to GAE Standard and it seems to be working now. However, I'm still not seeing the meta tags get updated. They are staying set with the default site meta tags and not the blog post title or image.

Facebook doesn't 404 anymore:
![screen shot 2019-01-16 at 7 34 26 pm](https://user-images.githubusercontent.com/3506071/51287549-0b945400-19c6-11e9-8bda-8ec6a22d68fb.png)

[2019-01-17 04:19] ozasadnyy commented on #543
@Splaktar did you [setup rendertron](https://github.com/gdg-x/hoverboard/blob/master/docs/tutorials/seo.md)?
![image](https://user-images.githubusercontent.com/2954281/51295329-b732b800-1a49-11e9-95b7-8ffb2bfe3193.png)

[2019-01-17 08:32] Splaktar commented on #543
In the browser looks good, but not via social media:

![screen shot 2019-01-17 at 3 31 28 am](https://user-images.githubusercontent.com/3506071/51305296-70709e00-1a08-11e9-803c-4cdfab12daf2.png)

[2019-01-17 08:40] Splaktar commented on #543
I see it working on your blog pages. One difference that I see is this:

Input URL | arrow-right | https://devfestflorida.org/blog/posts/gold-sponsor-raywenderlich/
-- | -- | --
og:url Meta Tag | arrow-right | https://devfestflorida.org/

Your posts don't show that redirect in the Facebook debugger.

[2019-01-17 08:42] ozasadnyy commented on #543
[code]
@Splaktar yes. Have you added that and rerun functions?

[2019-01-17 08:47] Splaktar commented on #543
@ozasadnyy yeah, it's set to `devfestflorida.firebaseapp.com` and functions have been redeployed via `firebase deploy --only functions`.

[2019-01-17 09:33] Splaktar commented on #543
Oh btw, we're on `2.0.0`. I'm working on trying to rebase to `2.1.0` to see if it helps.

[2019-01-17 12:07] Splaktar commented on #543
Updated everything to `2.1.0` from latest `master`, but unfortunately it hasn't helped with this issue.

[2019-01-17 14:13] ozasadnyy commented on #543
Which rendertron version are you using? If v2, please try to downgrade to v1 https://github.com/GoogleChrome/rendertron/releases/tag/v1.1.1

[2019-01-17 18:43] Splaktar commented on #543
@ozasadnyy we're running `2.0.1` of Rendertron. I'll give that a shot when I get a chance, thank you.

[2019-01-17 22:34] Splaktar commented on #543
When I hit Rendertron via https://devfestflorida.appspot.com/render/https://devfestflorida.org/blog/posts/gold-sponsor-raywenderlich/, I get the following error that looks like it may be related:
[code]
I am going to see if configuring CORS on Firebase hosting will help.

[2019-01-17 23:46] Splaktar commented on #543
Adding the following to my Firebase Hosting headers fixed the CORS error on Rendertron, but it still doesn't render with the correct meta tags:
[code]

[2019-01-17 23:48] Splaktar commented on #543
On Rendertron `v1.1.1` I always get this error:
[code]
I bumped the limit to 20s and that didn't help. Our page takes about `1.5s` to load so this just seems to be failing somewhere in Rendertron w/o reporting an error.

[2019-01-18 01:07] Splaktar commented on #543
Here's the Rendertron that we're using: https://github.com/DevFestFlorida/rendertron. I made some updates to dependencies and tweaked the `app.yaml` to save some money by scaling to zero. With or without the updates, it still has the same issue with the `og:url` and other fields staying as the defaults.

Our event is Saturday, so I don't plan to keep spending more hours trying to fix this (over 10

[2019-01-25 00:35] cortinico commented on #534
Side note: For the DevFest Pisa, I switched back to using local markdown files inside the `/data/posts` folders. The `content` field is now ignored. I guess this is a way more flexible approach rather than having to store the whole markdown in a JSON field.

[2019-02-11 13:49] webmaxru opened #548 "Any experiments / success stories about building the app for IE11?"
Hello!
First, I know that officially "❌ IE and Opera Mini aren't supported". But still, it would be cool to have Hoverboard v2 running in IE11. Maybe someone from the dev community succeeded with customizing the build flow to polyfill / transpile the needed parts?

I did a quick try to add Babel to build pipeline `.pipe(gulpif(/\.js$/, babel({presets: ['@babel/env'],})))` with `"targets": {"ie":"1

[2019-02-19 00:41] muldoon2007 opened #553 "blog permalink requires trailing slash"
This URL doesn't resolve to the blog: https://hoverboard-master.firebaseapp.com/blog

For some reason, a trailing slash is required! https://hoverboard-master.firebaseapp.com/blog/

[2019-02-22 21:31] jcf120 opened #556 "SEO canonical link meta tag"
Currently the site has just a single canonical meta tag, which is for the site root.
[code]
Isn't this massively hurting SEO? I was under the impression that if all pages uses the same canonical link, only the first will be indexed.

[2019-02-24 13:24] ozasadnyy commented on #556
Yeah, you are right, it should be changed. Would you like to create a PR with the fix?

[2019-02-27 21:18] jcf120 commented on #556
Ok sure, I've just opened a small PR.

[2019-02-28 01:27] jcf120 commented on #543
I don't know if current deployment of gdg-x/hoverboard is up to date, but it also fails to render correctly on this public rendertron instance:

https://render-tron.appspot.com/render/https://hoverboard-master.firebaseapp.com/blog/posts/dfua17-announced/

I've noticed that rendertron only waits until puppeteer signals `networkidle0`, which I suspect comes too early hoverboard's page load.

[2019-02-28 02:18] #556 closed

[2019-02-28 02:20] ozasadnyy commented on #543
@jcf120 I shut down Rendertron service for now as it's quite expensive to maintain. Looking for another solution. Do you have something on your mind?

[2019-02-28 02:31] jcf120 commented on #543
Think I've finally got a lead. When running rendertron with headless mode disabled, I get the following stacktrace in the inspector:
[code]

[2019-02-28 02:40] jcf120 commented on #543
Think I've got it. The polyfill can't handle non-string css props. Here's the culprit:
[code]
I'll open a PR

[2019-02-28 02:48] jcf120 commented on #543
(PR opened)

[2019-02-28 03:29] jcf120 commented on #543
Sorry, missed your comment before. I was trying to fix for the sake our own [fork](https://github.com/RadicalxChange/hoverboard). We're only 3½ weeks from our [conference](https://radicalxchange.org). How far off do you think the next solution is?

[2019-03-21 21:51] alpha-beta-soup commented on #472
This step is not included in the README.md

[2019-03-22 09:26] ozasadnyy commented on #472
Added to the readme file

[2019-04-07 09:07] alpha-beta-soup commented on #391
Is the project expected to work locally, i.e. without hosting? For me, Firebase is registering read events, and write events work fine too. But when running the app locally, any of the content that resides in the Firebase database does not load, and the UI just presents a continuous "loading" interface. I uploaded the default data with `npm run firestore:init` and also the read access rules with `

[2019-04-16 16:08] pif opened #562 "Repo size is very big and takes a lot of time to clone"
Repo size is ~200MB. It takes ages to clone. And contains some big images used in demo.
Here's a break down of what's inside: https://take.ms/9OTer

## Expected outcome

Repo is small, checks out in less than a minute.

## Actual outcome

It took ~10min to clone. 200MB for a website template is a lot.

## Steps to reproduce

`git clone https://github.com/gdg-x/hoverboard`

[2019-04-16 16:54] pif commented on #543
What if instead of rendering and serving content from `rendertron`, we serve prerendered static website to robots?

E.g.:
1. Prerender website into static locally or on CI (e.g. with `rendertron` or [`prerender`](https://github.com/prerender/prerender).
2. Deploy rendered static content folder somewhere.
3. Deploy simple middleware as a Cloud Function or Cloudflare Worker, which would serve static

[2019-04-22 15:43] jcf120 commented on #543
At what stage would this prerender of static content run? Much of the data comes from collections in firestore, so presumably most db mutations would need to trigger a render and deployment of the static content.

Could it possibly be simpler to write a firebase function for serving meta tags from the db more directly? (I'm assuming that we're only interested in serving meta data to bots, which I

[2019-04-23 07:30] ozasadnyy commented on #543
@jcf120 we need metadata for crawlers and social media bots to get a meaningful preview. We totally can write a firebase function which based on data from DB will generate metadata and return it for bots.

[2019-04-30 02:15] nayonnapurnell commented on #483
How can we send the potentialPartner to an email instead of the database?

[2019-04-30 02:16] nayonnapurnell opened #567 "Become a partner"
How can we send the potentialPartner to an email instead of the database?

[2019-04-30 08:08] ozasadnyy commented on #567
You can write a Firebase function and trigger mail service API or easier way to use another form on a website

[2019-05-17 06:10] #562 closed

[2019-05-17 21:07] abraham opened #578 "Upgrade to Polymer 3"
[Polymer 3](https://polymer-library.polymer-project.org/3.0/docs/upgrade) switches from deprecated HTML Imports to ES Modules and more typical component structure. In order to keep the codebase moving forward and modernize the tools.

[2019-05-17 21:13] abraham commented on #541
I've started the process of upgrading to Polymer 3 with #578. This will remove the usage of HTML Imports.

[2019-05-17 21:16] abraham opened #580 "Switch to TypeScript"
TypeScript helps avoid a lot of bugs and improves the reliability of apps. It would be great to migrate this codebase. It would have to wait until #578.

[PWA Starter Kit](https://pwa-starter-kit.polymer-project.org/overview#other-templates) has TypeScript integration and should work as a guide to implement.

[2019-05-17 21:24] abraham opened #581 "Switch to prpl-server and Firebase Functions"
App Engine and Rendertron are expensive and a hassle. It would be good to move to [Firebase Functions and prpl-server](https://pwa-starter-kit.polymer-project.org/building-and-deploying#firebase-hosting--firebase-functions) for simpler development and cheaper SSR.

[2019-05-17 21:27] abraham opened #582 "Make fast and optimized"
The readme says  "91/100 PWA on Lighthouse" but this is no longer true. Upgrading to ES Modules #578 will help but also moving away from some of the expensive Polymer elements might be good.

[![Lighthouse performance score of 26](https://user-images.githubusercontent.com/3341/57956971-63818f80-78c0-11e9-9552-20dc674d62a1.png)](https://www.webpagetest.org/lighthouse.php?test=190517_34_076776eebfae

[2019-05-17 21:41] abraham opened #583 "Define core features and write tests"
It would be good to define some core features and write browser feature tests to ensure they continue to work.

E.g.

- User views blog post
- User adds session to personal schedule
- User can view speaker details from session page

[2019-05-19 00:21] ozasadnyy commented on #567
Closed due to inactivity

[2019-05-19 00:21] #567 closed

[2019-05-19 00:22] ozasadnyy commented on #580
Sounds great!

[2019-05-19 00:27] ozasadnyy commented on #583
- First of all the home page should show up-to-date information about the conference with links to the registration.
- sponsors block
- schedule
- speakers
- blog
- the rest.

[2019-05-20 20:14] abraham opened #584 "Add Firebase Performance Monitoring"
Firebase just launched free performance monitoring for the web. It would be great to give conference organizers some insight into their sites performance.

https://firebase.google.com/products/performance/

[2019-05-20 20:23] ozasadnyy commented on #584
Totally agree! Looks very promising

[2019-05-21 04:21] cliveb commented on #583
Provide versioning that deletes old browser cached service-workers version (provide a 'suicide kill' if the native versioning remains troublesome).

Provide an admin form for:
- schedule
- speakers
- team

Make the modular code or built in tests such that removing a section such as blog or ticketing does not trigger exceptions elsewhere in the main page code.

[2019-05-21 07:56] htchien commented on #583
* Easy to use Backend console to let our program volunteers to edit Schedule / Sessions / Speakers / Team info.
* Localization.

[2019-05-21 13:13] abraham commented on #583
From Slack:

[2019-05-21 13:33] abraham opened #585 "Improve template compilation/build process"
Having a multi-step build process adds complexity and making changes more difficult. Maybe there is a better approach that will simplify tooling and improve developer experience.

Some options:
- Move all the nunjucks variables into runtime
  - Ships more code to the client as features would be enabled/disabled during render
  - Makes enabling and disabling features with database changes easier
-

[2019-06-03 11:26] zasadnyy opened #589 "Allow dump of the entire Firestore with firestore utils"
As a Hoverboard user, I'd like to be able to dump the entire database into a JSON file using firestore utils.

At the moment firestore utils throw an error:
[code]

[2019-06-03 15:30] abraham opened #590 "Embed tweets"
Add a section that embeds a selection of tweets. Primary use case would be to highlight tweets that share positive experiences at past events.

[2019-06-03 15:30] cortinico commented on #589
Hey @zasadnyy

Have you seen the https://github.com/gdg-x/hoverboard/blob/master/docs/tutorials/firebase-utils.md page? Is this a feature request or a bug report?

If it's feature request, I agree. Would be really handy to have it. I had to code a custom solution for our DevFest Pisa 2019.

If it's a bug report, please note that you can't invoke `firestore:copy` with an empty string. It needs to b

[2019-06-03 15:31] cortinico commented on #590
+1 This was a cool feature of Hoverboard 1 that hasn't been ported to 2.x :)

[2019-06-26 16:36] beitanssaatans commented on #391
I have the similar issue at the moment. I have clone the project and connected it with the DB but weirdly speakers and schedule are not loaded but for example previous speakers are loaded and as well few images in main page are loaded successfully.
I will try to deploy the site in Firebase perhaps that will solve this issue, I will comment afterwards whether that helped or not.

[2019-07-15 01:40] abraham opened #605 "Pre-build themes"
It would be great to have several common color themes and allow conferences to change one setting and have the the built site be in a different primary/secondary color combo. Ideally also with a dark version of each. https://material.io/design/color/

[2019-07-20 16:20] muralihr commented on #468
@cliveb  hey we can try this ~ are you part of the team that built hoverboard ~ angular will make it easier and portable and also simpler to exxecute such projects is what i feel  ~ lets set up a meet up on skype ~

[2019-07-20 16:21] muralihr commented on #468
@ozasadnyy / (@MrCsabaToth). why are we not porting to angular 7 ? the current code is little complex for beginners

[2019-07-22 08:40] ozasadnyy commented on #468
@muralihr I don't think it's a good idea to rewrite it with different techniques using the same name. But you definitely can start a new one!

[2019-07-22 14:34] abraham commented on #468
There are also a couple DevFests that built their own Angular sites. Those would be better options than rewriting Hoverboard.

[2019-07-22 17:24] MrCsabaToth commented on #468
@muralihr Along @abraham 's line, we should mention https://github.com/neojato/DeLorean-v2 . I made small contributions to Hoverboard, and I made enhancements to the DeLorean as well. Looking at trends into the future, although personally I like Polymer better than Angular, it seems like a future project should be based on Angular (which in turn support web components after all). I had plans to up

[2019-07-22 19:03] cliveb commented on #468
Paul and Jake had a good discussion on libraries & frameworks. https://youtu.be/t_pxnrLktNI

Following their conclusions, I feel to make Polymer based Hoverboard continue for a wider GDG adoption either a framework is inevitable or more tests to act are required. i.e data discontinuity crops up team <-> speakers <-> schedule tables there is no way to catch culprit. This can occur the last minute a

[2019-07-28 11:04] #584 closed

[2019-07-28 21:57] pedrogk opened #608 "Update generated schedule without doing firestore:init (and improve documentation for schedule)"
I have been struggling trying to understand how the schedule is generated and I haven't found any info/docs on it. All I know is that it rendered based on info from the collections ``generatedSchedule, generatedSessions, generatedSpeakers``, which are generated when running ``firestore:init``. But, if I manually add sessions to the sessions, schedule collections, is there a way to update the gener

[2019-07-28 22:15] pedrogk commented on #608
My bad. Hadn't noticed that the generated* collections were updated automatically when you write to the corresponding collections in the data store. Oh well, will add it to the docs when I get to it.

[2019-07-28 22:15] #608 closed

[2019-07-30 01:37] abraham opened #610 "deploy script should not buffer logs"
`npm run deploy` should display logs in realtime instead of buffering them until the very end. Currently it can feel like the script is stuck and not processing.

[2019-07-30 02:17] abraham opened #612 "Add session/speaker social sharing cards"
Generate 2:1 images for sessions/speakers that are good to share on Twitter.

Info to include:
- speaker name
- speaker image
- session title
- conference logo
- date
- conference url
- conference name?
- location?
- speaker title?

How to handle sessions with multiple speakers?
How to handle speakers with multiple sessions?

Examples:
- https://twitter.com/gdevdc/status/1134112485345288192?s=20
-

[2019-07-30 03:03] jordanmcadoo opened #614 "Deployed app using wrong data"
Link to my repo: https://github.com/jordanmcadoo/devfest

When I run locally, dev or prod, the site looks great and uses the data in my Firebase database. But once I `npm run deploy`, the site there is using the default Hoverboard data and I can't figure out why. I've updated the config/*.json files.

Here's the web app: https://devfestsgf-19.firebaseapp.com/

Thank you for any help!!

[2019-07-30 03:16] abraham commented on #614
Looking at the HTML source I'm seeing default config. You probably need to build and deploy again.

[code]

[code]

or

[code]

[2019-07-30 03:25] jordanmcadoo commented on #614
Welp, rebuilding worked! :) Thank you!!!

[2019-07-30 03:25] #614 closed

[2019-07-31 18:19] radi-cho opened #615 "Feedback/Rating for sessions/speakers in hoverboard v2"
A module for rating/commenting the sessions/speakers.

## Description
I have already built a simple feedback module: https://github.com/radi-cho/hoverboard/commit/c7f0eab78b9b03ea0ec1214a521d501061905362

The user can rate a session/speaker with 1-5 stars and leave an optional comment. The rating is connected with Firebase Auth so only authenticated users can submit feedback. The data is recorded

[2019-08-01 14:30] abraham commented on #615
I think this would be a great addition. I haven't looked through the UX yet but will try to do that soon.

[2019-08-01 15:09] abraham opened #616 "Switch to Material Web Components"
Once #578 is completed it might make sense to start switching material design features to use [MDWC](https://github.com/material-components/material-components-web-components).

[2019-08-09 01:01] tomasdfen opened #620 "Doesn't load on any other browser but Chrome"
Hi, once I've deployed with no errors, trying to open my web page with any browser thats not Chrome (desktop or mobile), it just load a blank page with the title in the middle and nothing else.

the page: https://devfest-sev19.firebaseapp.com/

[2019-08-11 13:26] abraham commented on #620
There are several JavaScript files that are failing. For example `https://devfest-sev19.firebaseapp.com/node_modules/firebase/firebase-app.js`. They are returning HTML instead which suggests that the build or deploy didn't work correctly. Try installing dependencies and deploying again.

[code]

[2019-08-11 13:54] abraham commented on #489
Hoverboard should focus on providing the best PWA experience it can. If organizations want to also have native mobile app I think the next step would be to define an API in Hoverboard that apps could consume.

[2019-08-11 13:54] #489 closed

[2019-08-11 13:59] abraham commented on #468
A better documentation site for Hoverboard would probably be good. Angular isn't the right tool for that though.

If anyone wants to help out there are a number of issues tagged with [help wanted](https://github.com/gdg-x/hoverboard/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22).

[2019-08-11 13:59] #468 closed

[2019-08-11 14:05] abraham commented on #581
I looks like prpl-server still uses Rendertron. Maybe the best option for Hoverboard is to remove the packaged implementation and reply on their official documentation for those who want it.

[2019-08-11 14:08] abraham commented on #548
I feel like this should be doable but I've not attempted it myself. [PWA Starter Kit](https://pwa-starter-kit.polymer-project.org/) supports IE11 so maybe a good direction for Hoverboard is to work towards a similar build pipeline.

[2019-08-11 14:14] abraham commented on #147
This sounds neat but it's implementation will be very dependent on #454. Seeing as this is so old I'm going to close it. Once #454 is completed if there is still interest a new issue can be created.

[2019-08-11 14:14] #147 closed

[2019-08-11 14:25] abraham commented on #474
Please open a new issue if there are any other issues with deploying.

[2019-08-11 14:25] #474 closed

[2019-08-11 19:12] abraham opened #621 "Update GDG/GDE logos"
GDG/GDE has switched to using a `<>` logo instead of `>`.

[2019-08-12 14:48] cortinico commented on #621
Hey @abraham
I can pickup this one.

I was wondering what should we do with the [organizer logo](/images/organizer-logo.svg).
Should we keep on having GDG Lviv or should I maybe replace them with GDG Hoverboard?
(The same apply to other assets inside the `images` folder).

[2019-08-12 15:06] umeklinks commented on #621
@cortinico

I think we should have "GDG X" where "X" is the chapter name, which gives some people a clear understanding. I'm actually working on it but if you are already, you can bring it then I'll look for something else to fix.

Cheers Bro!

[2019-08-12 15:08] cortinico commented on #621
Feel free to take it :)

👋

[2019-08-12 15:12] abraham commented on #621
Go for it @umeklinks

[2019-08-12 18:14] umeklinks commented on #621
@abraham I just pull request the new GDG logo png files -  full color and a gray color whichever someone wants to use.

[2019-08-13 13:14] mysterioux opened #624 "SMS Integration"
Would be nice to include SMS integration to send updates to users offline.

[2019-08-13 14:21] abraham commented on #624
What would this feature do? How would you suggest making SMS sending/receiving be accessible to Hoverboard?

[2019-08-18 01:46] abraham opened #626 "Tags need vertical spacing on moble"
Tags should have the same amount of space around them vertically as there is horizontally.

![Screenshot_20190817-204519](https://user-images.githubusercontent.com/3341/63219085-0ea81c00-c130-11e9-9c91-c86101376b29.png)

[2019-08-18 15:51] abraham opened #627 "Signing out on "my schedule" path doesn't change"
1 Sign in and go to "my schedule" https://hoverboard-master.firebaseapp.com/schedule/my-schedule
2 Sign out
3 URL is still `/schedule/my-schedule`

Tab's are weird and schedule page is still displayed. User should get redirected to `/schedule`.

[2019-08-18 16:23] abraham opened #628 "Update tag design"
Session tag/complexity design should be updated to match current MD chip design.

Old:
![Screenshot from 2019-08-18 11-22-51](https://user-images.githubusercontent.com/3341/63227313-929eea00-c1aa-11e9-8a7d-8bf017518ebd.png)

New:
https://material.io/design/components/chips.html

[2019-08-19 12:19] cortinico commented on #534
Hey @abraham
I'd love to PR my change to use local markdown files as we did for the DevFest Pisa 2019 website.

I just want to understand if this is the preferred solution or not.
After some chat with @ozasadnyy, the rationale behind having the markdown store inside a Firestore node was to have a WYSIWYG editor and have some sort of UI to allow editors to edit/create blogposts.

In our case, using

[2019-08-19 12:20] cortinico commented on #628
Probably blocked by #616 ?

[2019-08-19 12:28] abraham commented on #628
Those would make it easier to implement but I wouldn't say it's blocked by it. It could be implemented with the non web component version of MDC.

[2019-08-19 12:35] abraham commented on #534
My preference would be to have a single render target that is markdown which can be sourced from either a local file or from Firestore content. I think that would either mean converting the Firestore markdown client side or having a function that listens to blog post writes and stores a converted version for display. The client side version would be less work to implement but I don't know the perf

[2019-08-19 12:46] cortinico commented on #534
I see your point. I don't really know any performance issue that MD rendering might cause using either one or the other approach.

On the other hand we do have static pages (e.g. [/data/faq.md](/data/faq.md) and [/data/cod.md](/data/cod.md)) that use only local markdown files and blogposts that use only Firestore stored markdown.

From my point of view, this is confusing for the user (at least it

[2019-08-19 15:08] abraham commented on #534
There is certainly some streamlining that can be done to the app. I would like to make it easier for new sites to get up and running and more obvious how to update everything.

[2019-08-19 17:07] abraham commented on #454
This looks like a potentially great implementation.

https://github.com/andreasbm/lit-translate/

[2019-08-19 17:40] MrCsabaToth commented on #454
For the records I looked it up and in Hoverboard v1 this functionality was provided by https://github.com/PolymerElements/app-localize-behavior

[2019-08-19 22:24] abraham opened #632 "Clicking on speaker from session details should navigate to speaker details page"
1. Go to https://hoverboard-master.firebaseapp.com/schedule/2016-09-09?sessionId=103
1. Click on speaker
1. URL should be `https://hoverboard-master.firebaseapp.com/speakers/yonatan_levin`

[2019-08-21 13:54] abraham opened #634 "Closing speaker modal can leave site"
1. Open a new tab in your browser
1. Enter a speaker page in toe the browser URL bar https://hoverboard-master.firebaseapp.com/speakers/aleksander_piotrowski
1. Click the `X` to close the speaker page
1. The new tab page is displayed instead of the list of speakers.

I suspect something like `window.history.back()` is being used and it's not smart enough to not leave the site. A possible solution

[2019-08-22 07:41] umeklinks opened #635 "can't edit default speakers to use local speaker"
I'm having issues trying to add my own speakers in the speakers session from firebase. I tried deleting some speakers data from my firebase firestore and also that of `default-firebase-data.json` but on restarting the web app it still carries the default data, no changes made.
Please what's the best approach to add my own speakers? I have few days left to launch the web app.

[2019-08-22 08:00] umeklinks commented on #635
oh... I've found where it is. It's located in the `generatedSpeakers`. Adding or editing from there makes changes on your speakers session.

[2019-08-22 08:00] #635 closed

[2019-08-22 13:40] abraham commented on #635
You should not edit any of the `generated*` tables. Those should be generated by the Firebase functions when the `speaker`, `sessions`, or `schedule` collections are edited. If changing those collections doesn't change what's displayed, check your Functions are deployed and their logs for any errors.

[2019-08-26 04:11] abraham opened #637 "Add types for data"
Depends on #580

Data objects should be typed so that data consistency is improved and data access is safer.

Firestorm might be a good option: https://github.com/lmcq/firebase-firestorm

[2019-08-28 16:00] abraham opened #641 "Add Lighthouse performance budgets"
CI should enforce small/fast bundled sizes. Enforce the #fast performance from #582.

https://developers.google.com/web/tools/lighthouse/audits/budgets

[2019-08-29 01:10] abraham opened #642 "Mobile subnavbar has gap"
On mobile (chrome for Android) there is a gap between the main and sub navbars. See right below user avatar in upper right.

![Screenshot_20190828-200818](https://user-images.githubusercontent.com/3341/63902534-b561a780-c9cf-11e9-854a-9d6f234ce9df.png)

[2019-08-29 13:57] abraham opened #644 "Navbar underline is not aligned when authenticated"
![Screenshot from 2019-08-29 08-52-26](https://user-images.githubusercontent.com/3341/63946522-e3300600-ca3a-11e9-8a1f-2b50bef87477.png)

[2019-08-29 15:35] abraham opened #645 "Add attending page"
DevFest Nantes has a great attending page. A similar page might be useful in Hoverboard by default. It will need good docs on how to generate a floormap, etc.

https://devfest2018.gdgnantes.com/attending/

[2019-08-29 15:38] cortinico commented on #645
We created a similar page for DevFest Pisa here:
https://devfest.gdgpisa.it/location/

On Thu, Aug 29, 2019 at 5:35 PM Abraham Williams <notifications@github.com>
wrote:

--
Nicola Corti - Android @ Yelp
corti.nico@gmail.com
http://ncorti.com
"Look wide, and even when you think you are looking wide – look wider
still!"

[2019-09-01 16:29] umeklinks opened #647 "Partners and Team not showing when deployed"
I'm having issues when deployed the web app to Firebase. The partners logo and team members are not showing when I deployed to firebase but the Ticket is showing from contect from the firestore.

Meanwhile when I run it locally using `npm start` everything works perfectly.

I need help. I think I'm not getting somethings write.
Attached are the screenshots.

![partner](https://user-images.githubus

[2019-09-01 17:00] oshamahue opened #648 "Updating speakers data with travis-ci"
Hi,

I couldn't been able to run firestore commands with the travis encrypted firebase token. So is it possible to update speakers and other similar data with travis ci?

[2019-09-01 18:58] cortinico commented on #648
Hi @oshamahue

So the Travis config file (assuming you used [.travis.yml](.travis.yml) and followed [/docs/tutorials/04-deploy.md](/docs/tutorials/04-deploy.md)) can be used to setup the CI to deploy Firebase Hosting and Firebase Cloud Functions.

All the speakers and similar data is stored on Firebase Cloud Firestore, that should either be updated manually or deployed with a different repo/pipeli

[2019-09-01 19:03] cortinico commented on #647
Hey @umeklinks
Can you provide a link to your repository and/or to your website?

Data for partners and teams is fetched for the Firestore. If they're not leaded the problem could be either:

a) You haven't properly configured hoverboard to connect with you Firebase app (see [config/development.json](config/development.json) and [config/production.json](config/production.json)).

b) You don't have

[2019-09-01 20:26] umeklinks commented on #647
Hey @cortinico thanks for your reply.

Here's my repository link [https://github.com/umeklinks/gdgbonny-devfest](url) and here's the link to the firebase deployed web app [https://gdg-devfest-bonny.firebaseapp.com/](url)

The firestore has partners in place of sponsors and I have team as well.

Please go through my repo for errors.

As for the [docs/default-firebase-data.json](url) I It has the de

[2019-09-02 21:34] cortinico commented on #647
Hey @umeklinks
So you definitely have some configuration problems:
https://github.com/umeklinks/gdgbonny-devfest/blob/231b388c02a57bc68a8cc18453dbdc8da89f12f0/config/production.json#L3

`url` should be the public URL of your website: https://gdg-devfest-bonny.firebaseapp.com/

Can you fix this configuration (in both development and production) and re-deploy please?

[2019-09-02 22:05] cortinico opened #649 "Hero Header is occupying only 30% of the screen"
Apparently the Hero header in the home screen screen is broken (both on master and on previous installation of hoverboard) and is occupying only 30% of the screen. Ideally the hero header should occupy 100% of the screen.

master:
<img width="1792" alt="Screenshot 2019-09-03 at 00 03 47" src="https://user-images.githubusercontent.com/3001957/64134463-660be480-cdde-11e9-9f3c-529ec95784b6.png">

Dev

[2019-09-02 22:12] cortinico opened #651 "Travis is failing on master due to missing permissions"
Looks like Travis CI is currently failing on master due to missing permissions on the `hoverboard-master` project.

I was wondering if @ozasadnyy revoked access to Travis to that Firebase Project? Should we deploy to a different project?

Here the error from Travis:

[code]

[2019-09-03 00:19] #628 closed

[2019-09-03 00:21] #649 closed

[2019-09-03 00:22] abraham commented on #651
I've been meaning to update the secret.

[2019-09-03 00:26] abraham commented on #648
It would take some work probably but I don't see any reason why you couldn't run Firebase commands on CI and have it update Firestore data.

[2019-09-03 00:40] abraham commented on #647
Another issues is you are loading an additional version of the Firebase SDK in `index.html`. They are already being loaded https://github.com/umeklinks/gdgbonny-devfest/blob/231b388c02a57bc68a8cc18453dbdc8da89f12f0/index.html#L96:L101

[2019-09-03 00:46] abraham commented on #647
Make sure that each document in the items subcollection has a `order` key with a number value. The current DB query will only return results that have an `order`. https://github.com/umeklinks/gdgbonny-devfest/blob/2fda4c8b269bf09edec38d381d989ee53091cb25/scripts/redux/actions.js#L134

[2019-09-03 02:33] abraham opened #655 "Scroll down icon obscured on chrome for Android"
This is likely caused by the way chrome's url bar works and might be difficult to tell if the current browser behaves this way. Easiest solution might be to position it higher.

![Screenshot_20190902-212648](https://user-images.githubusercontent.com/3341/64140063-bed08280-cdc8-11e9-99f0-6d8869d3346c.png)

[2019-09-03 11:08] oshamahue commented on #648
Thanks for the replies. I think in our use case we will do this manually. After some investigation it seems possible but deployment needs to be without using travis firebase deployment provider. Firebase CI token should be stored as an environment var and passed to firebase commands using the --token parameters.

[2019-09-09 14:45] abraham opened #657 "Validate default partner JSON is valid"
The partner data in the default file might be out of date. It should be validated that it works as is and updated if not.

When creating a new Firebase app and deploying the default partners should display correctly.

[2019-09-12 20:01] abraham opened #659 "Update code of conduct"
Update the code of conduct text:

The GDG event template might be a good option: https://support.google.com/developergroups/answer/3340512?hl=en&ref_topic=3340510

[2019-09-16 13:26] #659 closed

[2019-09-21 13:23] abraham opened #663 "Add support for maskable icons"
https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/

[2019-09-22 08:38] beitanssaatans commented on #632
At the moment struggling with this one as well.
For now I think that speakers-seassions-map function not working properly, and that is why when I click on speaker, it shos undefiened speakers details, and schedule is empty as well as sessions.
It gets data from the database but does not map them so nothing is shown in the end.

[2019-09-22 15:22] abraham commented on #632
That's a different problem. Please open a new issue.

[2019-10-07 05:18] jagannathBhat opened #673 "Proof-read the documentations"

[2019-10-08 20:03] adben commented on #620
Any pointers on this issue? very hard to trace when stopped working on non-chrome browsers!

[2019-10-08 21:59] cortinico commented on #620
Hey @adben Can you link a deployed instance of Hoverboard that is not working on other browser? I'd love to investigate

[2019-10-08 22:01] abraham commented on #620
Please do open a new issue with a specific URL and specific browser versions you're having issues with. This particular site seems to be working now.

[2019-10-08 22:01] #620 closed

[2019-10-14 15:40] YaguraStation opened #676 "Speakers not showing"
- Only placeholders for speakers appear in gray without data.
- Tickets, gallery etc. loading fine from Firebase, but not speakers.
- `order` is given for speaker in Firebase.
- Firebase init done once more, Rules look fine. Compared speaker data to example data from `/docs/default-firebase-data.json`.
- Not sure if helpful, but speakers also not showing in _DevTools_ > _Application_ > _firestore/

[2019-10-15 12:32] YaguraStation commented on #676
I've stumbled over multiple closed issues where the dependence of speakers and sessions have been discussed, assuming this was fixed. But I'm only now seeing that this is only in the develop branch. https://github.com/gdg-x/hoverboard/pull/509

Assigning a session actually now also properly took care of `generatedSpeakers`.

[2019-10-15 12:32] #676 closed

[2019-11-02 19:18] webmaxru opened #682 "Using Product Sans font with restricted license for the headers"
Hello!
I explored a bit about the permission to use Product Sans font used for the headers:
https://github.com/gdg-x/hoverboard/blob/master/src/elements/shared-styles.html#L85

It seems like it's a proprietary Google's font for internal usage. It's not listed at resource Google Fonts https://fonts.google.com/?query=product
Also, the link to https://fonts.google.com/license/googlerestricted saying

[2019-11-03 22:43] abraham commented on #682
Sounds good to me. I would favor switching to [system fonts](https://markdotto.com/2018/02/07/github-system-fonts/).

[2019-11-05 11:03] webmaxru commented on #682
The sent PR covers only removing explicitly set font-family for the titles - to quickfix the licensing issue. Switching the whole app to system fonts like in the mentioned GitHub is a good idea but more investigation and testing needed :)

[2019-11-05 13:00] #682 closed

[2019-11-05 13:02] abraham opened #684 "Switch to system fonts"
As a follow up to https://github.com/gdg-x/hoverboard/issues/682, switch to [system fonts.](https://markdotto.com/2018/02/07/github-system-fonts/)

This will improve performance, reduce text jumping after rendering, and better match the OS people are browsing on.

[2019-11-07 12:56] abraham opened #686 "Improve session distinction on mobile"
On mobile with multiple tracks it can be difficult to tell which session description goes with which speaker.

![Screenshot_20191107-135422](https://user-images.githubusercontent.com/3341/68390814-586c3580-0166-11ea-8b05-873b85d4e46f.png)

[2019-11-07 14:04] abraham opened #687 "Improve room UX"
Mobile Era is using room names as tags. Room UX should be improved. On mobile they should be listed on cards and they should be filterable.

![Screenshot_20191107-150025](https://user-images.githubusercontent.com/3341/68395298-bcdfc280-016f-11ea-925b-a0822ccbce84.png)
![Screenshot_20191107-150037](https://user-images.githubusercontent.com/3341/68395314-c406d080-016f-11ea-9ecf-b8cf5bedd8f9.png)

[2019-11-11 22:16] abraham commented on #641
New CI tool: https://github.com/GoogleChrome/lighthouse-ci

[2019-12-20 07:57] shnathoskhan opened #689 "Error npm install on windows"
Pls, refer my log file.

PFA.

https://docs.google.com/document/d/1uLc9VaTE3i5hDCyQqbhD6P0Hp8AJGG3v5FTYfP9qfwc/edit?usp=sharing

node-pre-gyp WARN

[2019-12-21 08:39] billyrrr commented on #208
Hi, is this still open for pull request? I have a solution that uses Firestore and App Engine Python Flexible Environment that is ready to be implemented.

[2020-01-03 16:38] abraham commented on #689
I was able to install and run on Windows 10 with PowerShell and with WSL with node 10. It looks like you're using node 13. Can you try with node 10 and see if that works. If node 10 doesn't work please include details about your Windows version, PowerShell/WLS versions, and as much about the environment as you can.

[2020-01-05 04:24] #534 closed

[2020-01-05 04:31] abraham opened #694 "Display session feedback"
- Add a Cloud Firestore trigger listening to users leaving feedback
- When there is 5 or more feedback documents for a session write the average rating to the session document
- Display the average rating on session details page
- Needs to handle feedback being deleted
- Needs to handle feedback being deleted and the number of submissions dropping below 5

[2020-01-05 04:50] abraham opened #695 "Integrate session reviews with wheel of names"
It would be great if there was a one or two click method of getting the names of users who reviews sessions into https://wheelofnames.com/.

I've [previously implemented a script](https://github.com/gdgmadison/devfestwi-com/pull/3) that would save to a file which could then be copy/pasted. It should be easier than this though.

Names should be included for each time they have reviewed a session. F

[2020-01-06 05:17] shnathoskhan commented on #689
@abraham Thanks for reply.

i installed Node 10 and i tried npm install but i got same error.

PowerShell version:
Version
-------
5.1.18362.145

Windows Version:
Version 1903 (OS Build 18362.476)

[2020-01-06 14:01] abraham commented on #689
Can you attach the node 10 logs please.

Are you trying to use the latest version of the master branch? If not what version of the app are you trying to use?

How are you installing node? With the official windows installer? Some other way?

[2020-01-06 18:48] shnathoskhan commented on #689
Yes i tried master branch. and sure i used official windows installer https://nodejs.org/dist/v10.0.0/ .

i attached my log.
https://drive.google.com/file/d/1BehLzv4dXi92QMCq1PHRi-YmYiv2zB52/view

[2020-01-06 18:56] abraham commented on #689
If you used v10.0.0 that's pretty old. Try the 10.18 version https://nodejs.org/dist/latest-v10.x/

[2020-01-13 09:35] atharvaunde59 opened #698 "Admin Page"
Is there any admin area ahailable from which i can see registered users, speakers and other data operations can be performed? or data must added to firestore via firestore console only?

[2020-01-14 04:06] abraham commented on #624
SMS tends to be an expensive feature so I don't think it's a good feature investment without a strong use case.

[2020-01-14 04:06] #624 closed

[2020-01-14 04:08] abraham commented on #615
Implemented in #690

[2020-01-14 04:08] #615 closed

[2020-01-14 04:12] abraham commented on #698
Currently you either need to use the Firebase console or you need to edit the JSON files locally and deploy. Adding an admin dashboard would be a good feature enhancement though.

[2020-01-16 13:28] atharvaunde59 opened #699 "Speaker and Session Model"
After clicking the speaker's name or on clicking the session card it is not opening the popup to show details. Is it broken or needs to configure manually?
On clicking the speaker it changes the URL with the speaker name but doesn't opens the dialog...

PS: It opens but it takes too much time to open

[2020-01-21 04:25] #699 closed

[2020-01-21 04:42] abraham commented on #699
Thanks for the report.

[2020-01-22 11:15] atharvaunde59 commented on #699
Thanks a lot!
Working like charm now!!!

[2020-02-04 17:19] atharvaunde59 commented on #500
@ozasadnyy any update regarding documentation?

[2020-02-04 17:21] ozasadnyy commented on #500
Hey, I'm not working anymore on this project..
@abraham could you please take a look to this issue?

[2020-02-04 17:33] atharvaunde59 commented on #500
@abraham actually I changed firebase message sender id in manifest and firebase config file but on allowing my browser to send notifications. clicking on the bail icon says we can't send you notifications.

1)Can we send push notifications from the firebase console or these notifications are triggered only from events?
can u share how this works?

[2020-02-04 17:59] abraham commented on #500
I haven't actually dug into how push notifications work yet. I need to test it with #579 though so I'll document what I learn :)

[2020-02-04 22:35] cortinico commented on #500
can u share how this works?

I can share my findings/experience from running hoverboard for DevFest Pisa 2019.

You basically have two types of Push Notifications that can be sent by Hoverboard.

# `General Notifications`

Those are notifications that are sent to all of your subscribers (users that pressed "yes" to receive push notifications when they opened the website for the first time).

Gener

[2020-02-05 13:39] abraham commented on #500
@cortinico is there anything that came up during DevFest Pisa that you found lacking in notifications? From my few minutes of thinking about notifications general announcements and schedule reminders where the two types that made sense. Just wondering if there was anything else that you would have found useful.

For scheduled notifications I'll be updating to [scheduled functions](https://firebase

[2020-02-05 14:01] cortinico commented on #500
@abraham So far we had multiple problems with AppEngine/CloudFunctions related to timezones and string management. The result was that Schedule notification was not working at all :/ I fixed it for DevFest Pisa 2019 but I haven't had the time to clean up our implementation and send a PR.

Given that DevFest Pisa 2020 is coming really soon, I need to fix this and I'll open a PR.

Yeah this would be

[2020-02-05 14:03] abraham commented on #500
Thanks for the info! I'll keep a particular eye on dates/times when I'm testing.

[2020-02-05 18:04] atharvaunde59 opened #701 "Speakers and Team Offline Access"
Adding support for Firestore Offline Caching of Documents and collections
https://cloud.google.com/firestore/docs/manage-data/enable-offline

[2020-02-05 21:47] cortinico commented on #701
Offline caching is already enabled in hoverboard:
https://github.com/gdg-x/hoverboard/blob/adc048936f3fc518c0dd03efdaa8c03622dc6d2f/index.html#L114-L118

[2020-02-08 20:42] abraham commented on #695
This looks like potentially a good approach. Sync to a sheet that wheel can read.

https://twitter.com/bcnzer/status/1225911336443334656?s=20

[2020-02-09 14:17] benju69 opened #702 "Version in package.json is not the last one"
the last release is 2.2.0 but in package.json is still 2.1.0 :/

[2020-02-09 14:21] #702 closed

[2020-02-09 14:27] abraham opened #704 "Document release process for Hoverboard"
Add documentation for the process of tagging a new Hoverboard release.

- bump `package.json` version
- tag commit
- ...

[2020-02-09 15:05] benju69 opened #705 "Problems with eslint"
Hi, I just updated my fork to the last version, resolved conflicts and not merged yet.
When I build I have lint errors, How I can fix them or disable the eslint step ?

[2020-02-09 16:37] cortinico commented on #705
Can you please post the output of eslint?

[2020-02-09 20:31] abraham opened #706 "URLEncode srcset values"
Some image URLs have spaces in them and it creates invalid `srcset` values.

[2020-02-17 01:10] abraham opened #710 "Update Firestore rules to v2"
https://firebase.google.com/docs/rules/rules-behavior#security_rules_version_2

[2020-02-23 17:55] abraham opened #712 "Display "demo" notice on sample sites"
Display a prominent demo notice that links to this git repo.

- https://hoverboard-master.firebaseapp.com/
- https://hoverboard-dev.firebaseapp.com/

[2020-02-24 05:17] #541 closed

[2020-02-24 05:17] #578 closed

[2020-02-24 05:22] abraham commented on #610
Fixed with #579

[2020-02-24 05:22] #610 closed

[2020-02-24 05:24] abraham commented on #585
This is mostly improved with #579. `es-dev-server` and `rollup` now handle template compilation without needing an intermediate build step.

[2020-02-24 05:24] #585 closed

[2020-02-24 15:54] #701 closed

[2020-02-25 19:37] abraham opened #715 "Remove or reduce usage of redux"
The app has limited amount of user writable state so I think removing or reducing redux usage would simplify development.

[2020-02-25 19:58] abraham opened #716 "Route based lazy load bundles"
To get #578 merged the lazy loading of pages was removed.

Enable route/page based bundles and lazy loading of those bundles.

Considerations: Which precaching strategy should be used?

[2020-02-25 20:30] jeffposnick opened #717 "Consider trying the Content Indexing API"
https://web.dev/content-indexing-api/ is currently in an Origin Trial. It provides a way for web apps to give the browser (currently Chrome-only) a list of URLs and title/description/thumbnail metadata for all of the pages that will work offline. The browser then can use this metadata to inform users about content that's available while they're offline—starting with the Downloads/Articles for You

[2020-02-26 14:02] #712 closed

[2020-02-26 14:41] abraham opened #719 "Inline first-input-delay polyfill from node package"
Currently the `first-input-delay` is inlined in `index.html` but this means if there is a new release to the package this sites version will never be updated. `first-input-delay` should be installed as a dependency in `package.json` and the build tools should be updated to inline the script during a build.

https://github.com/GoogleChromeLabs/first-input-delay

[2020-02-26 15:23] abraham commented on #715
I haven't validated this yet but I think an interesting pattern to explore would be to have Firebase queries running in a web worker and caching the data locally. Then in the client we subscribe to the local cache.

[2020-03-05 17:17] atharvaunde59 commented on #698
Hello @abraham I have started working on Admin Panel, but am designing it in VueJS (I don't think it will matter as its sole purpose is of manipulating restore data)
I will need help in case of Speakers CRUD as I am not that familiar with Firestore queries.
I will share the test link for site and admin soon!

[2020-03-10 14:25] abraham opened #748 "Improve and document how to easily "archive" previous years"
It should be easier to keep previous years conferences sites around. I'm thinking the approach should be to copy all the data to another Firebase project excluding the blog posts which should stay on the main site. Some things to include:

- npm script to copy entire database from one project to another
- Simplify pointing blog to another site/path
- Git repo branching suggestions
- Documentation

[2020-03-22 19:10] abraham opened #774 "Convert to JSON-LD"
- Remove `itemscope`, `itemtype`, and `itemprop`
- Add `application/ld+json` script tag

https://developers.google.com/search/docs/data-types/event#example

[2020-03-25 19:36] abraham commented on #698
I would like to see a more formal proposal of the solution. I have concerns about adding another framework to the project and wouldn't want you to waste time on it if it's not a good match for this project.

[2020-03-25 19:37] abraham commented on #705
The latest version has been updated with prettier. It will automatically format your code with `npm run format:fix` so linting issues should be much less common.

[2020-03-25 19:37] #705 closed

[2020-03-25 19:39] abraham commented on #689
If you still have issues please let me know.

[2020-03-25 19:39] #689 closed

[2020-03-25 19:40] abraham commented on #651
This has been fixed.

[2020-03-25 19:40] #651 closed

[2020-03-25 19:40] abraham commented on #647
If you have any further issues please let us know.

[2020-03-25 19:40] #647 closed

[2020-03-25 19:55] benju69 commented on #705
ok I will re test :)

[2020-03-25 20:32] abraham commented on #626
This has been fixed.

[2020-03-25 20:32] #626 closed

[2020-03-29 00:35] abraham opened #796 "Convert to LitElement"
Polymer is not getting anymore features and is pretty expensive in size. It would be great to start rewriting components in LitElement.

Depends on #580 and probably #616.

[2020-03-29 22:51] abraham opened #801 "Add 404 page"
Add new 404-page and have it be the fallback for all `iron-page`s.

[2020-04-03 16:26] #580 closed

[2020-04-04 17:15] abraham opened #826 "Build a CLI"
It might be useful to build a small CLI to help with common tasks like deploying

[code]

[2020-04-06 04:14] abraham opened #838 "Audit accessibility"
Audit accessibility of site and open issues for needed improvements.

[2020-04-07 03:41] abraham opened #852 "Convert functions code to TypeScript"
Convert the JavaScript files in the `functions` directory to TypeScript. Tsconfig can be `strict = false`.

It would be great to add some unit tests for the functions in the process.

[2020-04-07 12:12] benju69 opened #856 "FIrebase don't make generatedSpeakers or generatedSchedule"
Firebase don't want to generate speakers or schedule, how I can debug this ?

[2020-04-07 13:06] abraham commented on #856
Check to make sure the functions have been deployed to Firebase in the console: https://console.firebase.google.com/

![Screen Shot 2020-04-07 at 08 05 17](https://user-images.githubusercontent.com/3341/78672632-8afd9400-78a6-11ea-9118-88f71482c27f.png)

If they have been deployed check the logs for any errors

![Screen Shot 2020-04-07 at 08 05 42](https://user-images.githubusercontent.com/3341/78

[2020-04-07 13:36] benju69 commented on #856
ah yes thank you so much, logs saved me :)

[2020-04-07 13:36] #856 closed

[2020-04-11 01:58] abraham opened #875 "Add Storybook component stories"
With the LitElement component upgrades starting, now would be a good time to add component stories.

https://www.npmjs.com/package/@storybook/web-components

[2020-04-20 11:54] abraham opened #900 "Remove nunjucks template interpolation step"
Currently most files are nunjucks templates that have to get pre-processed before rendering. This creates a more complex development/build cycle. Most of the template data is text that could be moved to #454.

Remove template processing of:
- [ ] JavaScript
- [ ]  JSON
- [ ] HTML
- [ ] Markdown
- [ ] TypeScript

[2020-04-20 13:52] abraham opened #901 "Improve features for online events"
There are going to be a lot more online only events in the future. This codebase is currently pretty focused on in-person events. What can be improved to make digital experences better?

[2020-04-26 15:14] gregoriopalama opened #924 "Opening subroute before cache results in a "Not Found" error"
Replicating the issue is pretty easy.
Opening a subpage through incognito mode (for example, https://BASEURL/team), the site gives out a "Not Found" error.

The under-the-hood behaviour is this one:
- the redirection for everything that is not matched redirects everything to the prerender function
- the prerender function performs res.sendFile(path.join(__dirname + '/index.html'));
- the result fo

[2020-04-26 15:25] cortinico commented on #924
That's weird as I'm not able to reproduce on the DevFest Pisa website. Try to open incognito this: https://devfest.gdgpisa.it/team

[2020-04-28 14:42] abraham commented on #924
Try building the web app and then deploying the functions again. I suspect the index.html file wasn't correctly copied to the functions deploy.

[2020-05-10 16:15] abraham opened #982 "Switch from Travis to GitHub Actions"
This will remove the step of having to setup Travis.

[2020-05-11 16:03] cortinico commented on #982
I can take care of this @abraham, unless you already started to work on it

[2020-05-11 17:02] abraham commented on #982
@cortinico please do!

[2020-05-12 12:22] abraham opened #992 "Setup website and domain"
I've picked up the `hoverboard.dev` domain. It would be nice to set it up with
- marketing on the features offered with Hoverboard
- documentation on setting up a Hoverboard instance
- documentation on contributing to Hoverboard
- example instance

[2020-05-16 17:33] gregoriopalama commented on #924
The issue is already solved with this commit: https://github.com/gdg-x/hoverboard/commit/041742424db5060c7c9a04f58799f9b9aae0acd3#diff-325fcb164a87c4ba23a1f0dab1460a1e.

Sorry, didn't notice it before opening this issue. I'm going to close it.

[2020-05-16 17:33] #924 closed

[2020-05-16 18:02] gregoriopalama opened #1020 "Navigation issues on session and speaker details"
Navigating directly on a session's detail or on a speaker's detail turns out to an unwanted behaviour. Closing the session or speaker's detail popup, the browser will go back to a blank page.

## Expected outcome

The session's detail popup or the speaker's detail popup closes, and the browser stays on the sessions' list or on the speakers' list.

## Actual outcome

Closing the popup makes the bro

[2020-05-17 17:50] abraham commented on #634
Closing in favor of #1020

[2020-05-17 17:50] #634 closed

[2020-05-19 02:05] #982 closed

[2020-05-20 13:39] abraham opened #1043 "Add app shortcuts"
It would be handy to have a couple of app shortcuts.

https://web.dev/app-shortcuts/

Maybe:
- Home
- Speakers
- Schedule
- Blog

[2020-05-26 16:47] abraham opened #1061 "Look into loading Firebase from reserved URLs"
We would no longer have to inject the Firebase config data. This would require serving content via the emulator during development.

https://firebase.google.com/docs/hosting/reserved-urls

Blocked by #1170

[2020-06-06 17:26] abraham opened #1120 "Rename default branch to `primary`"
- [ ] create new Firebase project
- [ ] rename `master` references in code
- [ ] update repo settings

[2020-06-08 16:15] abraham opened #1127 "Confirm compliance with SameSite cookies"
Confirm that authentication works correctly with the upcoming SameSite cookie changes.

https://web.dev/samesite-cookies-explained/

[2020-06-18 02:00] #710 closed

[2020-06-30 16:02] abraham opened #1168 "Add session reactions"
It could be neat to let users react to sessions with emojis. There should be a limited set of positive emojis available.

https://nolanlawson.com/2020/06/28/introducing-emoji-picker-element-a-memory-efficient-emoji-picker-for-the-web/

[2020-07-01 03:07] abraham opened #1169 "Checkout firestore-export-import to simplify working with Firestore"
https://github.com/dalenguyen/firestore-backup-restore

[2020-07-03 23:42] abraham opened #1170 "Move local development to Firebase emulator suite"
- https://firebase.google.com/docs/emulator-suite
- https://google.dev/codelabs/firebase-emulator-get-started

The biggest issue with implementing this is currently the web app is lightly processed by es-dev-server for local development. In order to move to the Firebase emulators that will have to be converted to a light build step that writes to disk so the Hosting emulator can serve the site.

[2020-07-04 05:40] abraham opened #1172 "Explore running linting through jest"
It looks like jest could orchestrate running eslint and prettier as well as the unit tests.

https://jestjs.io/docs/en/configuration#runner-string

[2020-07-04 22:36] #1172 closed

[2020-07-04 22:50] #637 closed

[2020-07-05 00:04] abraham opened #1178 "Update dfua16 references"
The default data includes `dfua16` links. These need to be updated to be relative or part of the compilation process.

[2020-07-06 15:22] abraham opened #1186 "Live update data"
It would be great if the app listened to the Firestore database so it would get live updates.

[2020-07-07 14:55] abraham opened #1187 "Returning visitors get 404 pages for new blog posts"
1. User has visited the site before and it is cached locally with a service worker.
1. A new blog post is published
1. User visits the new blog post directly and gets a 404 page
1. After cache is updated refreshing shows the blog post as expected.

[2020-07-12 14:41] abraham opened #1188 "Sponsored sessions"
Some events will include a handful of sessions that are allotted to sponsors and should be labeled as "sponsored" sessions. Currently this could be handled with a tag but it might be nice to have sponsored status as a built in feature.

[2020-08-05 05:33] hikeislife commented on #149
you say this issue is fixed, but I am just now experiencing it, on both firefox and chrome (brave). the only diff is that firefox stays on oops page until I reload it, and chrome (brave) reloads itself split second later, but only after showing "the site can't be reached" - it's there long enough to read what it says before the reload occurs. the page is not hosted anywhere, I'm still in early sta

[2020-09-02 02:40] abraham commented on #149
@hikeislife This issue has been closed for a long time. Please open a new one and include as much details about what you are seeing as possible.

[2020-09-08 03:06] #852 closed

[2020-09-12 16:35] abraham commented on #548
The project is now using OpenWC to build. It should be possible to use the `legacyBuild` config to target IE11.

https://open-wc.org/building/building-rollup.html#supporting-older-browsers

[2020-09-12 16:35] #548 closed

[2020-09-17 10:22] cortinico opened #1335 "Sign-in is broken on the deployed master"
**Describe the bug**
Seems like the deployed version of hoverboard from master has the login feature broken.
When clicking on "Sign In with Google" the following error gets printed on console:

[code]

We had the same issue on our instance of hoverboard. The problems seems to be related to restrictions of the API key used by hoverboard:
https://stackoverflow.com/questions/52970822/firebase-auth-in

[2020-09-18 00:36] abraham commented on #1335
It turns out that the `development.json` config was always the default.

[2020-09-18 05:33] anuk79 commented on #838
@abraham Hi, can I pick this up? I can help with auditing the site.

[2020-09-18 06:18] cortinico opened #1343 "Notifications are broken on the deployed master"
**Describe the bug**
Seems like the deployed version of hoverboard from master has the notifications feature broken.
When clicking on the bell icon in the top right, the following error gets printed on console:

[code]

I've tried to briefly investigate but I wasn't able to find any lead. The issue seems to be related to the messaging initialisation we do in the SW not setting the proper `Referer`

[2020-09-20 21:07] abraham commented on #838
@anuk79 please do!

[2020-09-20 21:33] abraham commented on #1343
The API keys were incorrect. I've updated them and the error has gone away. I'm not convinced notifications are actually working right now though so I need to look at it further.

[2020-09-22 01:18] abraham opened #1354 "Data backup"
There should be an easy method of creating data backups.

- Firestore https://firebase.google.com/docs/firestore/solutions/schedule-export
- Storage

[2020-09-23 02:08] abraham opened #1356 "Generate manifest images with script"
There are a number of sizes of the same image in [images/manifest](https://github.com/gdg-x/hoverboard/tree/main/images/manifest). It should be possible for users to have a single 512x512px image and during build a script generates all the other sizes.

[2020-09-23 03:21] #1335 closed

[2020-09-23 03:24] abraham commented on #1343
Scratch that. The API Key in the firebase console didn't have any referrer restrictions applied to it.

My best guess at an approach to fix this is have the Firebase browser key not be referrer restricted but be API restricted to a limited number of API. There could then be a second API key that is referrer restricted that has access to more APIs like Maps.

[2020-09-25 10:34] cortinico commented on #1343
Yup but still not idea.
Interestingly, the console error while running the app locally is:

[code]

Is something lost when the app gets deployed?

[2020-10-01 11:08] zptoth opened #1373 "Speakers, Schedule, Blog and Team sections won't work"
Hi,

Speakers, Schedule, Blog and Team sections won't work for me some reason. They just load and load but the content won't show up.

Here is what I do.

- Create GCP project
- Create and link Firebase project to GCP project
- Enable App Engine in GCP
- Create a Web app in Firebase
- Enable Hosting in Firebase
- Enable Firestore in Firebase
- Enable Storage in Firebase
- Clone the source code to

[2020-10-01 20:05] cortinico commented on #1373
Seems like the site is not deployed at all.

Can you post the output of this command:

[code]

[2020-10-01 21:08] zptoth commented on #1373
The output of firebase deploy is the following:

=== Deploying to 'df-hu-dev'...

i  deploying storage, firestore, functions, hosting
Running command: npm --prefix "$RESOURCE_DIR" run build

✔  functions: Finished running predeploy script.
i  firebase.storage: checking storage.rules for compilation errors...
✔  firebase.storage: rules file storage.rules compiled successfully
i  firestore: reading

[2020-10-01 21:14] zptoth commented on #1373
The strage thing is that for 'npm run firestore:init' I receive the following error:

$ npm run firestore:init

Deleting the following collections:
✔  Functions config updated.

Please deploy your functions for the change to take effect by running firebase deploy --only functions

=== Deploying to 'df-hu-dev'...

i  deploying storage, firestore, functions
Running command: npm --prefix "$RESOURCE_D

[2020-10-01 21:18] Snickdx opened #1374 "Cannot run firestore:init"
**Describe the bug**
Firestore init fails, more specifically the part "babel-node ./internals/import-default-data". I keep getting an error when node attempts to import the json files. Which is weird because I have used this project last year and the year before. I suspect it might be an issue with my babel version or config.

OUTPUT

internal/modules/run_main.js:54
    internalBinding('errors').t

[2020-10-01 21:19] zptoth commented on #1373
However if I install babel-node and do an 'npm audit fix' there is another error:

$ npm install --save-dev @babel/node
npm WARN @typescript-eslint/eslint-plugin@2.34.0 requires a peer of eslint@^5.0.0 || ^6.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN @typescript-eslint/parser@2.34.0 requires a peer of eslint@^5.0.0 || ^6.0.0 but none is installed. You must ins

[2020-10-01 23:02] zptoth commented on #1373
And if I try to follow the recommended solutions from the error output it just gets worse and worse. Rename, edit file, etc. one after another.

[2020-10-01 23:04] zptoth commented on #1374
I am experiencing the same issue.

[2020-10-02 04:57] #1374 closed

[2020-10-02 04:58] abraham commented on #1374
Sorry about that. Babel was removed with some earlier work but those scripts had not been updated. I just updated those to ts-node so `npm run firestore:init` should work now.

[2020-10-02 05:00] abraham commented on #1373
It looks like there isn't any data to display. The init command should be fixed now, give that a try and see if data will render.

[2020-10-02 06:14] zptoth commented on #1373
Thanks. Getting better, but still won't init.

[code]

[2020-10-02 06:16] zptoth commented on #1374
Thanks. It's getting better but still won't init.
See log here: https://github.com/gdg-x/hoverboard/issues/1373#issuecomment-702404248

[2020-10-02 12:10] abraham commented on #1373
What version of Node.js are you using?

[2020-10-02 12:30] abraham commented on #1373
Give it another try.

[2020-10-02 14:03] zptoth commented on #1373
Now it works, I can confirm. Thanks!

[code]

[code]

[code]

[code]

[2020-10-02 14:04] zptoth commented on #1374
Looks like it's OK now.
See here: https://github.com/gdg-x/hoverboard/issues/1373#issuecomment-702752711
Thanks for your support!

[2020-10-02 14:12] #1373 closed

[2020-10-02 14:13] abraham commented on #1373
Great!

[2020-10-02 14:16] zptoth commented on #1373
An additional question. Might be off topic in this thread.

Just gave it a try to update the content (the name of a speaker for testing) and did an 'npm run deploy'
As far as I see the update I made won't appear, not even in Firestore.
However if I do an 'npx firebase firestore:delete --recursive --all-collections' first, the update is deployed.

What's the recommended way to update content? I ass

[2020-10-02 14:28] Snickdx commented on #1374
Thanks! It works now!

[2020-10-02 14:29] abraham commented on #698
https://firetable.io/ looks like a potentially good option.

[2020-10-02 15:27] zptoth commented on #1373
Well OK, but in this case how do you handle differences in content at the development and production sites.
How do you sync content updates from dev to prod?

[2020-10-02 15:55] atharvaunde59 commented on #698
I will try this!

[2020-10-03 09:17] cortinico commented on #1373
That's currently not supported by hoverboard AFAIK.
I used to use https://github.com/dalenguyen/firestore-backup-restore to backup/restore Firestore content and also sync dev => prod and vice versa.

[2020-10-03 15:48] abraham opened #1381 "Consider reorganizing project"
Currently the project mostly consists of a web app and Firebase functions app mixed in with custom scripts, docs, default data, config, etc.

    /web
    /build config
    /github config
    /etc
    |---config/
    |---data/
    |---docs/
    |---functions/
    |---internals/
    |---src/

It would be interesting to explore migrating to a monorepo style organization. Use [lerna](https://github.c

[2020-10-03 18:43] abraham commented on #1373
There is the `npm run firestore:copy source dest` command. It's pretty easy to copy a collection around although it'll take some juggling of `serviceAccount.json` files.

https://github.com/gdg-x/hoverboard/blob/main/docs/tutorials/firebase-utils.md

[2020-10-04 18:47] abraham commented on #1373
There is a node package that looks like it would make it fairly easy to export/import the entire DB. I started playing around with it a little in #1384 but haven't had time to get it working yet.

[2020-10-05 18:06] resand opened #1390 "Error in npm run firestore:init"
**Describe the bug**
I have this error when running the command `npm run firestore:init` in the last versión

[Image](https://i.ibb.co/gvcLyLd/Captura-de-Pantalla-2020-10-05-a-la-s-1-05-02-p-m.png)

[2020-10-06 00:42] #1390 closed

[2020-10-08 15:34] Snickdx opened #1404 "Build no longer works"
**Describe the bug**
The build command doesn't seem to output the HTML files of the site and its copying my service account into the build directory.

I wish I could do more than just complain but I just don't have enough experience with polymer and rollup. At this point, I'm just curious to know if anyone has gotten this project to work recently.

PS: This project now requires a paid firebase pla

[2020-10-09 00:52] abraham commented on #1404
How recent a version of Hoverboard are you using? Have you tried on the latest version?

`npm run build` should not result in a `build` directory. It should create a `dist` directory with the production ready version of the app. There will be an `out-tsc` as well but this is an intermediate step that you should not have to interact with at all.

What is the complete command output you get when you

[2020-10-11 20:44] zptoth commented on #1404
The below method works for me. I use it for every single deployment, even though step 1 and 2 should not be performed every time.

[code]

Optionally if you use multiple firebase projects it's a good practice to execute **npx firebase use <project-id>** before the commands above.

[2020-10-11 20:48] zptoth commented on #1404
For local testing I use **npm run build; npm start** but not all modifications could be tested this way. Some require a full deployment to firebase.

[2020-10-11 20:52] zptoth commented on #1404
I have even developed a small (not too professional, but useful) deployment script that handles **development** and **production** versions of the site that could be deployed from two separate (dev and prod) branches from the same repo. I can share it with you if you are interested.

[2020-10-11 21:26] zptoth opened #1410 "Featured videos section doesn't seem to work"
**Describe the bug**

Featured videos section doesn't seem to work. Not even on the linked live demo site.

**To Reproduce**
Steps to reproduce the behavior:

If you click any of the featured videos an invisible popup window is opened, that does not display anything, not even a frame, but the closing (X) sign only in the top left.
The window could be closed by clicking the (X) sign.

**Expected be

[2020-10-11 21:26] abraham opened #1411 "Small schedule cards don't display multiple tags well"
The tags should probably drop below the length and have more space when they wrap around.

<img width="423" alt="Screen Shot 2020-10-11 at 16 24 42" src="https://user-images.githubusercontent.com/3341/95690569-603a2280-0bde-11eb-976a-fc463493de46.png">

[2020-10-11 21:33] abraham commented on #1410
I do remember that working at one point but having kind of a weird user experience. Maybe it should play in the carousel or directly open a new tab.

[2020-10-11 21:37] abraham commented on #1404
You shouldn't need to `npm run build` before `npm start`. `npm start` ignores most of the production build that `npm run build` creates.

There is working being done on a better local development experience in https://github.com/gdg-x/hoverboard/pull/1316. That combined with https://github.com/gdg-x/hoverboard/pull/1384 and https://github.com/gdg-x/hoverboard/issues/698 I'm hoping there will be a

[2020-10-11 21:39] zptoth commented on #1410
This pop-up window approach could work fine.
This example is not so terrible in my opinion: https://cloud.withgoogle.com/next/sf/sessions#industry-insights

[2020-10-11 21:44] zptoth commented on #1404
You got me with the `npm run build` part but for the other one I couldn't find any better solution but doing a delete and a new init all the time. This makes it possible for me to do changes locally in the code and deploy them by executing one single script.

[2020-10-13 02:38] Snickdx commented on #1404
Hi an update: I tried from fresh using a cloud environment called gitpod with npm ci and I got the build to work! Will use that from now on instead of windows on my machine.

One thing I've also noticed is that any data on the site will not load if any part the firebase-default-data.json is malformed. Eg speaker ids not in the speaker session, miss-spelling/case of properties. It would be nice if

[2020-10-18 20:25] abraham commented on #1410
Seems potentially related to https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2020-10-18 20:46] zptoth commented on #1410
Well, autoplay is not too important for me, so if the window could just pop up with the content in it that would be fine.
Right now not even the content could be seen.

[2020-10-18 20:59] abraham commented on #1410
Digging into it a bit more I'm not sure it is auto-play. The [`<google-youtube-api>`](https://github.com/GoogleWebComponents/google-youtube/blob/master/google-youtube.js#L89) element doesn't seem to be working even though both `dom-if` values wrapping it are true.

[2020-10-18 22:11] abraham commented on #1410
Have a look at the preview from https://github.com/gdg-x/hoverboard/pull/1426

[2020-10-19 14:46] #1410 closed

[2020-10-20 17:02] abraham commented on #1404
Please open a new feature request for improving validation of `firebase-default-data.json`.

[2020-10-20 17:02] #1404 closed

[2020-10-28 16:29] vividh commented on #1187
May I claim this?

[2020-10-28 22:34] zptoth opened #1465 "Caching issue"
**Describe the bug**
I am experiencing caching issues with hoverboard at http://www.devfest.hu

**To Reproduce**
On my own desktop I can experience the following.
Sometimes a previous, cached version of the website appears.
For example if I follow the registration link from meetup.com in this event: https://www.meetup.com/GDG-Budapest/events/262650461/

Actually the cached version still exists but

[2020-10-28 22:41] zptoth commented on #1465
It looks like I cannot view the current live site but only from an incognito window.
Not even a page refresh (F5) helps.

The issue is not with me. I could clear my cache but this cannot be expected from all visitors should they face this issue. And some of them seem to face it.

[2020-10-28 22:49] zptoth commented on #1465
Cached: https://devfest-hu-production.web.app/
Current live: http://devfest-bud-prod.web.app/

[2020-10-28 22:53] zptoth commented on #1465
I have opened the web.app links and noticed that when I open the current live version of the site an outdated state is loaded first, than the refresh popup appears in the bottom left. Once the page is refreshed, the right version is displayed.

Is there any way to completely get rid of this refresh method?

[2020-10-29 02:33] abraham commented on #1465
Hoverboard uses a pretty standard PWA flow that should work like this:

1. A user visits the site for the first time
1. The site renders
1. In the background the static assets are cached for offline use
1. A toast is displayed the site is ready for offline use
1. A new version of the site is deployed
1. Existing user returns
1. Cached assets are rendered immediately
1. In the background updated as

[2020-10-29 07:26] zptoth commented on #1465
Thanks for the quick turnaround.
In my case the toast just won't come up. Not even if I refresh the page in my browser.

The offline functionality is very useful when hoverboard is used as a conference app at in person events.
Hover this is not the case anymore. There are no in person events this year so the primary use case is to use hoverboard as a website and toasts are rather uncommon at deskt

[2020-10-30 02:38] abraham opened #1468 "Add email link auth"
For users that don't want to use social auth.

https://firebase.google.com/docs/auth/web/email-link-auth

[2020-10-30 11:37] giulianovarriale commented on #627
Can I work on this one?

[2020-10-30 11:37] giulianovarriale commented on #1411
Can I work on this one?

[2020-11-03 14:24] mhmxs commented on #1465
For me only delete "Offline Web Site Data" in my Firefox solved the issue. So it means local cache was used instead of new version of the site.

[2020-11-03 14:30] zptoth commented on #1465
Thanks mhmxs!

So the question is how to resolve this issue for users who have a previous version of the site stuck in their browsers. This version doesn't even exist on the Internet anymore as that version of the site has been shut down a while ago and the content is served from a completely different source, although it's still Firebase with hoverboard.

[2020-11-08 23:35] abraham commented on #1465
If there are errors or issues that are causing users to get stuck updating from one version of Hoverboard to another I'd love to get them ironed out. Unfortunately those kinds of bugs are very hard to track down without errors or reproduction.

If you have the site available on a git repo I can access and you can tell me the commit sha of the old version and the commit sha of the new version I can

[2020-11-09 00:00] abraham commented on #1411
Please do!

[2020-11-09 00:00] abraham commented on #627
Please do!

[2020-11-09 00:19] abraham commented on #1187
Yes please!

[2020-11-16 01:52] abraham opened #1506 "Convert redux store and UI rendering to use RemoteData pattern"
This ticket is to track the work of updating how remote state is handled in Redux and rendering components.

The [RemoteData pattern](https://bendyworks.com/blog/slaying-a-ui-antipattern-with-web-components-and-typescript) is an approach to handling state fetched from a remote source in a safe manner.

To update a store slice:
- Update `src/store/*` files
- Update UI components that leverage that

[2021-01-21 17:58] abraham opened #1652 "Improve sidebar"
https://web.dev/building-a-sidenav-component/

[2021-01-26 12:18] abraham opened #1659 "Explore using stories"
https://web.dev/building-a-stories-component/

[2021-02-06 21:44] abraham opened #1676 "Consider adding a ARCHITECTURE.md"
https://matklad.github.io//2021/02/06/ARCHITECTURE.md.html

[2021-02-15 21:14] abraham commented on #1354
https://martonkodok.medium.com/firestore-backups-the-easy-way-with-cloud-workflows-3a96a434d3c7

[2021-03-06 03:41] combimauri opened #1732 "Error when generating only speakers collection"
**Describe the bug**
If we don't have sessions or schedule in Firestore, only the speakers collection, the speakersWrite cloud function fails when trying to generate speakers data.

**To Reproduce**
Steps to reproduce the behavior:

1. Upload speakers data to Firestore without having any session or schedule.

**Expected behavior**
The generatedSpeakers collection should be created, but the cloud f

[2021-03-06 16:44] #1732 closed

[2021-03-22 02:02] abraham opened #1766 "Explore switching to new analytics tag"
https://support.google.com/analytics/answer/1008080#zippy=%2Cdynamic-website

[2021-04-04 20:05] abraham opened #1793 "Explore updating Google Maps integration"
https://cloud.google.com/blog/products/maps-platform/loading-google-maps-platform-javascript-modern-web-applications

[2021-07-03 17:21] abraham opened #1889 "Look into register-service-worker"
See if there is code complexity that can be replaced with package.

https://www.npmjs.com/package/register-service-worker

[2021-08-13 14:19] abraham opened #1910 "Explore updating markdown lib"
https://github.com/markedjs/marked

[2021-11-03 13:17] benju69 opened #2017 "Error when running npm run firestore:init"
**Describe the bug**
I have this error :

Error: Error occurred while parsing your function triggers.

Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /hoverboard/functions/node_modules/node-fetch/src/index.js
require() of ES modules is not supported.
require() of /hoverboard/functions/node_modules/node-fetch/src/index.js from /hoverboard/functions/dist/mailchimp-subscribe.js is an ES

[2021-11-04 16:53] akshitarora921 commented on #1793
@abraham Can I take this?

[2021-11-04 16:57] akshitarora921 commented on #1411
@abraham can I take this?

[2021-11-06 00:45] abraham commented on #1411
Yes :)

[2021-11-06 00:47] abraham commented on #1793
Please do

[2021-11-06 03:36] #2017 closed

[2021-11-06 09:24] akshitarora921 commented on #1411
Hi @abraham, Can you please give a little bit of an overview? These are the tags attribute of a session right.
Also, I am getting this error while running this command `npm run firestore:init`
![Screenshot from 2021-11-06 14-53-06](https://user-images.githubusercontent.com/11087313/140604831-b664c806-0a7a-4c74-a53c-2df2bc48f504.png)

[2021-11-06 22:38] abraham commented on #1411
Yes, tags on a session. If you scroll down https://hoverboard-master.web.app/schedule/ until you find "Intro to TensorFlow" you'll see the issue.

You should be able to run hoverboard locally without changing the configuration and it should read the data from the site I linked to.

The tags are rendered in the [`session-element` component](https://github.com/gdg-x/hoverboard/blob/452240ef7bbc6c939

[2021-11-08 11:14] akshitarora921 commented on #1411
Hi @abraham,
I did a fresh install and just did `npm install` and 'npm start`. I am getting only one tag as 'Cloud' for Intro to TensorFlow.
![Untitled](https://user-images.githubusercontent.com/11087313/140732430-29e921f8-6e75-4603-9af9-33f4255f83b0.png)

[2021-11-09 04:06] abraham commented on #1411
Try it now. I updated the database for https://hoverboard-dev.web.app/schedule/

[2021-11-09 09:29] akshitarora921 commented on #1411
@abraham thanks, The data is updated now.

[2021-11-13 20:23] #1411 closed

[2021-11-14 06:30] akshitarora921 commented on #1793
@abraham Can you please explain the requirements?

[2021-11-14 17:45] abraham commented on #1793
@akshitarora921 I've updated the issue description. It's basically to explore if the new package described in the blog post would be a better approach than how maps are currently implemented.

[2021-11-16 03:17] abraham opened #2038 "Merge deploy needs to deploy functions"
FirebaseExtended/action-hosting-deploy only [deploys hosting](https://github.com/FirebaseExtended/action-hosting-deploy/issues/54), [.github/workflows/firebase-hosting-push.yaml](https://github.com/gdg-x/hoverboard/blob/main/.github/workflows/firebase-hosting-push.yaml) needs to get updated to deploy functions as it needs a new index.html for deploy.

[2021-11-18 11:39] resand-finerio opened #2039 "Not working in iOS 15"
**Describe the bug**
The load sections no working.

**Screenshots**
![image](https://user-images.githubusercontent.com/79542161/142408469-643d4c34-dd69-4d0e-9275-e77342fb5349.png)
**Smartphone:**

- Device: iPhone 13 Pro
- OS: iOS 15.1
- Browser Safari

[2021-11-18 22:58] abraham commented on #2039
What's not working?

[2021-11-18 23:05] resand-finerio commented on #2039
It does not navigate to the section, it only shows the image that I attach.

[2021-11-18 23:15] abraham commented on #2039
So you can't scroll and tapping the menu button doesn't do anything? Can you look at the web debugger and see if there are any error messages? https://www.browserstack.com/guide/how-to-debug-on-iphone

[2021-11-18 23:18] abraham commented on #1889
Resolved in #2040

[2021-11-18 23:18] #1889 closed

[2021-11-19 02:10] #1061 closed

[2021-11-19 02:10] #1170 closed

[2021-11-19 05:07] resand-finerio commented on #2039
I click on the speakers menu for example and it does nothing.

Attached are images and video.

<img width="1035" alt="Captura de Pantalla 2021-11-18 a la(s) 10 58 27 p m" src="https://user-images.githubusercontent.com/79542161/142568113-45841d02-eaba-4892-80bf-4428e4e09ade.png">

<img width="1035" alt="Captura de Pantalla 2021-11-18 a la(s) 10 59 03 p m" src="https://user-images.githubusercontent.

[2021-11-19 23:10] #2039 closed

[2021-11-27 01:15] abraham opened #2066 "Remove XSS header"
https://scotthelme.co.uk/security-headers-updates/

[2021-11-30 14:59] benju69 opened #2067 "Rendering issue?"
**Describe the bug**
I just cloned the repo an try to configure a new project
I followed the steps, I have a firebase project in blaze plan
I managed to deploy it,
but I only have a website with a blank page with just the title when running npm serve or on firebase hosting
you can see here : https://android-makers-2022.firebaseapp.com/
any ideas what I done wrong ?

**To Reproduce**
Configure a ne

[2021-11-30 21:03] abraham commented on #2067
Try running `npx firebase use <app-name>` before `npm start`.

[2021-12-01 11:02] benju69 commented on #2067
Also i still have errors with firestore:init in fact

Functions deploy had errors with the following functions:
        saveUserData(us-central1)
Function URL (prerender(us-central1)): https://us-central1-android-makers-2022.cloudfunctions.net/prerender
i  functions: cleaning up build files...

Error: There was an error deploying functions

[2021-12-01 14:52] benju69 commented on #2067
I commented scheduleNotification and saveUserData function, now firestore:init is working

[2021-12-04 16:22] abraham commented on #1127
Seems to be fine

[2021-12-04 16:22] #1127 closed

[2021-12-04 16:51] abraham opened #2084 "Use firestore emulator for local development"
https://firebase.google.com/docs/hosting/manage-cache

There will need to be an easy way to sync data between json files and emulator binary files. It should be enforced on CI that they are in sync.

Some of this work is partially implemented in #1316

[2021-12-04 16:54] abraham commented on #900
Once #2084 is complete functions can render all html requests and the index.html completion can be removed.

[2021-12-04 17:08] abraham opened #2085 "Preload data"
https://firebase.google.com/docs/firestore/bundles

Depends on #2084

[2021-12-04 20:06] abraham opened #2086 "Modernize service worker"
Are there improvements that can be made to the archive worker configuration?

https://developers.google.com/web/tools/workbox/modules/workbox-recipes

[2021-12-05 22:04] abraham opened #2088 "Replace Google Analytics with Firebase Analytics"
https://firebase.google.com/docs/analytics/get-started?platform=web

Remove all current tracking, HTML tags, and `hoverboard-analytics.ts`. Add tracking to `vaadin-router-location-changed` to track page loads.

[2021-12-05 23:13] abraham opened #2089 "Use demo firebase project for development"
Local development should maybe use a demo project (E.g. `demo-hoverboard`) which will disable live resources.

https://firebase.google.com/docs/emulator-suite/connect_firestore

[2021-12-12 04:10] abraham opened #2093 "Implement ProtoBuf models?"
- Would it be useful to switch to protobufs for the data models?
- How would that interact with Firestore?
- Would it be useful to surface a grpc API for apps/tools to interface with?

Generating firestore rules could be useful. https://github.com/FirebaseExtended/protobuf-rules-gen

[2021-12-29 16:48] #553 closed

[2021-12-29 16:48] #716 closed

[2021-12-29 16:48] #801 closed

[2021-12-29 16:48] #1020 closed

[2021-12-29 16:48] #1187 closed

[2022-01-03 17:26] abraham opened #2128 "Update to node 16 again"
Revert https://github.com/gdg-x/hoverboard/pull/2127

[2022-01-03 18:17] #2038 closed

[2022-01-03 18:50] abraham opened #2129 "Simplify firestore rules"
Combine get and list into read and create, update, and delete into write as it makes sense.

https://firebase.google.com/docs/firestore/security/rules-structure#granular_operations

[2022-01-06 20:56] abraham opened #2134 "Image processing function and display component"
- Function that will take an image and create multiple common optimized sizes
- Component that will lazy load the best image at the best size to reduce reflows

[2022-01-13 02:31] abraham opened #2139 "Firestore migrations"
There needs to be a way to migrate data in Firestore to different shapes or different collections along with upgrades to the app. It should have a list of migrations and they will be run through in order and be applied if needed.

Some potential options:
- Script people run after they deploy
- migration function that runs in the background. it could be triggered by change to /config/migration docu

[2022-01-14 14:17] abraham commented on #1766
Going with #2088 instead.

[2022-01-14 14:17] #1766 closed

[2022-01-17 01:49] abraham commented on #454
Lit has a localization process now. https://lit.dev/docs/localization/overview/

[2022-01-17 01:54] #1465 closed

[2022-01-17 01:57] abraham opened #2141 "Prompt to sign in on my schedule page"
The my schedule tab should always be visible and if the user is not authenticated the my schedule page should have a sign in button and some text about signing in to have a personalized schedule.

[2022-01-17 01:57] abraham commented on #627
#2141 would be better.

[2022-01-17 01:57] #627 closed

[2022-01-17 01:59] #715 closed

[2022-01-17 22:53] abraham opened #2142 "Service worker is serving auth page"
Service worker is supposed to be ignoring Firebase reserved URLs.

<img width="612" alt="Screen Shot 2022-01-17 at 16 52 50" src="https://user-images.githubusercontent.com/3341/149845287-e49a6557-a4ad-4f8b-8bdf-25d07def89fc.png">

[2022-01-21 15:39] abraham opened #2143 "Show weather"
It might be useful to show the weather forecast for the days of the event. Maybe something like https://weatherembed.com/. It will depend on finding a reasonable solution that doesn't cost anything and is reasonably stable.

[2022-01-21 23:51] abraham opened #2144 "Support queued toasts"
Triggering two toast/snackbar messages in a row will will show the first message, update to the second message and timeout based on the first one. Each toast should create a new toast with it's own timeout.

[2022-01-22 05:43] abraham opened #2146 "one-tap sign-up with with Firebase UI"
Look at implementing https://github.com/firebase/firebaseui-web#one-tap-sign-up

[2022-01-22 20:45] abraham commented on #2093
Maybe a JS model at some point but I don't think there is a reason to use ProtoBuf models.

[2022-01-22 20:45] #2093 closed

[2022-01-22 20:50] #2142 closed

[2022-01-23 23:02] abraham commented on #500
There is some notification docs now. https://github.com/gdg-x/hoverboard/blob/main/docs/tutorials/05-notifications.md

[2022-01-23 23:02] #500 closed

[2022-01-23 23:04] abraham commented on #1343
Notifications have been updated and are working currently.

[2022-01-23 23:04] #1343 closed

[2022-01-24 01:34] #2088 closed

[2022-01-25 05:55] #2144 closed

[2022-01-26 01:08] abraham opened #2156 "Move schedule, session, speaker generation to client"
Use [createSelector](https://redux-toolkit.js.org/api/createSelector) to [generation](https://github.com/gdg-x/hoverboard/blob/main/functions/src/generate-sessions-speakers-schedule.ts) schedule, session, speaker on the client.

[2022-01-27 04:58] #1506 closed

[2022-01-29 20:03] abraham commented on #719
Fixed #2152

[2022-01-29 20:03] #719 closed

[2022-01-29 20:09] abraham commented on #632
Fixed in #2099

[2022-01-29 20:09] #632 closed

[2022-01-30 00:10] #1910 closed

[2022-01-31 01:15] abraham opened #2178 "Improve sharing with Navigator.share"
https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share

[2022-02-02 01:23] #2128 closed

[2022-02-17 21:31] abraham opened #2234 "Add to calendar feature"
There should be a button somewhere on the site to create/prefill an event in a handful of common calendar services.

[2022-02-21 02:45] abraham commented on #900
Nunjucks compilation has been switched to loading json with the bundler except for `index.html`, `manifest.json`, and `coc.md`.

[2022-02-22 16:14] abraham opened #2252 "Highlight images without alt text"
All images should have alt text. Any that do not should be visually highlighted so it's noticeable by site maintainers.

https://simonblackbourn.net/blog/highlight-images-missing-alt-attribute

[2022-03-23 14:38] benju69 opened #2313 "npm run firestore:copy don't work: then is not a function"
**Describe the bug**
npm run firestore:copy don't work

i have an error in script :
hoverboard/scripts/firestore-copy/index.ts:6
  .then((data) => saveData(data, destination))
^ TypeError: (0 , utils_1.getData)(...).then is not a function

Is this normal ? Also should i update project ?

**To Reproduce**
Steps to reproduce the behavior:

1. have a collection json
2. run the npm firestore:copy comm

[2022-03-23 19:10] abraham commented on #2313
`npm run firestore:copy team team.json` ran successfully for me on the latest code. You might need to update.

[2022-03-23 19:27] benju69 commented on #2313
And in the other direction ? like npm run firestore:copy team.json team

[2022-03-23 20:03] #2313 closed

[2022-03-27 16:51] Rccilq opened #2319 "bhymcvm947@gamezalo.com"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-03-27 16:57] #2319 closed

[2022-03-29 12:42] benju69 opened #2320 "Partners in a card"
**Is your feature request related to a problem? Please describe.**
Partners in home page were in card before
Is it possible to have this card back ?

**Describe the solution you'd like**
Fix the style
Or provide a solution/the style to do this

**Additional context**
screenshots about the feature request:

2020:
![Screenshot 2022-03-29 at 14 36 54](https://user-images.githubusercontent.com/2486590

[2022-03-29 15:24] abraham commented on #2320
The logos are too small and when bounded by cards it makes a very noisy visual. I'm not opposed to design changes but I don't think the default card is the right choice.

| before | after |
| ------------- | ------------- |
| ![sponsors-before](https://user-images.githubusercontent.com/3341/65646582-1c6b7f80-dfc1-11e9-8b33-9381cce97faf.png) | ![sponsors-after](https://user-images.githubusercontent

[2022-03-30 20:19] solstarz opened #2321 "Connecting to firestore database is not working"
**Describe the bug**
When i deploy the app my schedule page is empty its not being linked to the firestoredatabase.
I've added a databasUrl in the firebase.ts with the url for the firestore database.
But while debugging i saw the url is changed to find data in the realtime database.

**To Reproduce**
Steps to reproduce the behavior:

Deploy the app to firebase and you will see that the schedule an

[2022-03-31 10:19] benju69 opened #2322 "generatedSchedule is not saved/generated"
**Describe the bug**
generatedSchedule is not saved/generated
How i can know what the issue is ? what is wrong in my schedule?

**To Reproduce**
copy schedule data to firestore
npm run deploy

on /schedule page: Error loading schedule.
In firestore: I don't have generatedSchedule collection

**Expected behavior**
Schedule is here

[2022-03-31 11:31] solstarz commented on #2322
@benju69 maybe i can ask you.
How did you manage to connect firestore database to the project?
For some odd reason the project only connects to the realtime database...

In which it results in that the schedule page is empty with no data to see even so for the speakers page..

If you can point me in the right direction i will be a happy person..

Thanks in advance.

JP

[2022-03-31 12:17] benju69 commented on #2322
You must have a really old project, hoverboard is using firestore now
you should at least have the speakers, look the structure in docs/default-firebase-data.json, then you can deploy this file with npm run firestore:init

[2022-03-31 12:21] solstarz commented on #2322
Well, im using the most recent project, according to setup page https://github.com/gdg-x/hoverboard/blob/main/docs/tutorials/00-set-up.md

But for some odd reason when you look at the settings (url)__/firebase/init.json the databaseUrl is the url for the realtime database and not the firestore database..

Somewhere im missing something..

[2022-03-31 13:05] abraham commented on #2321
[`firebase.ts`](https://github.com/gdg-x/hoverboard/blob/main/src/firebase.ts#L6) dynamically loads the Firebase config from whichever firebase project you [selected](https://github.com/gdg-x/hoverboard/blob/main/docs/tutorials/01-configure-app.md) with `npx firebase use <projectid>`.

Look at the [Firebase functions logs](https://firebase.google.com/docs/functions/writing-and-viewing-logs#using_t

[2022-03-31 13:10] abraham commented on #2322
@solstarz `__/firebase/init.json` has the entire config for the project and will include `databaseUrl` with the realtime database URL regardless if it's being used. This is expected. Please keep the discussion on #2321 so that it's all on one thread.

[2022-03-31 13:17] solstarz commented on #2321
@abraham Thanks for your feedback.
This config.schedule.enabled is set to true, which is good.
npx firebase use (projectid) is used and connected to my projectid.
Firebase function logs shows no errors.

I think im over looking something, but not sure what...

[2022-03-31 13:25] abraham commented on #2321
Do any of the Firestore collections have any data in the [Firebase console](https://console.firebase.google.com/)?

- schedule
- sessions
- speakers
- generatedSchedule
- generatedSessions
- generatedSpeakers

[2022-03-31 13:27] solstarz commented on #2321
I have the first 3 collections with data.
The last 3 are not present as collections in the firestore database..

[2022-03-31 13:47] benju69 commented on #2322
Thanks for the clarification
well i don't really see errors in the logs

scheduleWrite
Function execution took 3482 ms, finished with status: 'ok'

[2022-03-31 14:19] solstarz commented on #2321
I did change a date in one of the scheduled collections and im now seeing the speakers appear..
But still no schedule.

These two collections are now present:

- generatedSessions
- generatedSpeakers

Do i have to make new schedule document for it to be picked up with the functions?

This firebase stuff is new to me, noob here...

[2022-03-31 15:04] benju69 commented on #2322
I have some errors with prerender (but no more information)

5:00:07.156 PM
prerender
Function execution started
5:00:10.257 PM
prerender
Function execution took 3102 ms, finished with status: 'crash'

[2022-03-31 15:16] benju69 commented on #2322
I have this warning on scheduleWrite:
severity: "WARNING"
textPayload: "Snapshot has no readTime. Using now()"

[2022-03-31 20:12] #2321 closed

[2022-03-31 20:12] #2322 closed

[2022-04-01 19:12] solstarz opened #2351 "Hoverboard compatible on IOS?"
**Describe the bug**
Hoverboard compatible on IOS?
I tested the webapp on IOS and i can only see a whitescreen

**To Reproduce**
Open the webapp on a IOS device

- OS: [e.g. iOS]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone12]

[2022-04-02 14:44] abraham commented on #2351
I'm seeing blank pages maybe 20% of the time on local dev and maybe 80% of the time on hoverboard-master.web.app. No obvious errors though so maybe it's a weird race condition.

[2022-04-03 17:40] abraham commented on #2351
I'm still looking into this. It's behaving as though Safari randomly decides not to execute imported Javascript file.

[2022-04-03 18:38] abraham commented on #2351
It's something to do with the service worker. Commenting out `<script src="./src/service-worker-registration.ts" type="module"></script>` in `index.html` doesn't show the issue anymore locally which is really weird since in local development nothing is being cached.

[2022-04-03 20:04] solstarz commented on #2351
@abraham thanks for taking a look.

I will do what you did

[2022-04-04 13:49] solstarz commented on #2351
@abraham it works!! Thanks again!!

[2022-04-04 15:03] benju69 opened #2356 "sessionsWrite error with tags"
**Describe the bug**
I was adding some sessions and speakers
I got this error:

4:58:16.679 PM
sessionsWrite
Function execution took 1486 ms, finished with status: 'error'

4:58:17.740 PM
sessionsWrite
TypeError: Cannot read properties of undefined (reading 'tags')
    at sessionsSpeakersScheduleMap (file:///workspace/dist/schedule-generator/speakers-sessions-schedule-map.js:23:48)
    at generate

[2022-04-04 15:39] abraham commented on #2356
I think #2357 should fix this.

[2022-04-04 15:57] abraham opened #2358 "Switch to Firebase Functions logger"
https://firebase.google.com/docs/functions/writing-and-viewing-logs

[2022-04-04 16:34] benju69 commented on #2356
Actually I have an older version
const mainTag =
            subsession.tags && subsession.tags.length ? subsession.tags[0] : 'General';

Bus this is weird, I have same tags everywhere

[2022-04-05 08:27] benju69 commented on #2356
Ok I think it was cause by an empty string "" in schedule

[2022-04-05 08:32] solstarz opened #2359 "When clicking a scheduled item there is no way return to the main schedule"
**Describe the bug**
When clicking on a scheduled item in the main schedule, there is no way to easily return to the main schedule

**To Reproduce**
Click on a specific schedule item and try to return to the main schedule page

**Expected behavior**
A return button

**Desktop (please complete the following information):**

- Browser [e.g. chrome, safari]

[2022-04-05 13:34] abraham commented on #2351
I don't really recommend just disabling a service worker. It can lead to weird behavior for users that already the service worker installed. It's probably the best temporary fix until the root cause if identified though.

[2022-04-05 13:48] abraham opened #2360 "Schedule builder UI"
**Is your feature request related to a problem? Please describe.**
Defining the schedule in [JSON](https://github.com/gdg-x/hoverboard/blob/main/docs/default-firebase-data.json#L161) or Firestore is complex and error prone. It creates a lot of blank schedules and stale schedules when an error causes the schedule to not get generated.

**Describe the solution you'd like**
A UI for building out the

[2022-04-07 09:52] solstarz commented on #2351
@abraham ah got it.. Im guessing it will take some digging to get to the root cause..

[2022-04-08 18:47] #2358 closed

[2022-04-12 07:39] benju69 opened #2364 "Sign-in is broken"
**Describe the bug**
I have same issue as here: https://github.com/gdg-x/hoverboard/issues/1335
I click on sign in with google
A dialog opens for some seconds and disappears.
Not logged, can't save the sessions

**Expected behavior**
I guess something is missing in firebase
Documentation should have information about the sign in: how it works, how to configure it, what it does ?

[2022-04-12 07:48] benju69 commented on #2364
Ok I found how to activate
It's in Authentication section/Sign in method, add Google as new provider
but now I have the "My Schedule" tab but it's empty, any idea ?

[2022-04-12 13:21] abraham opened #2365 "Session element icon does not mix well with tags"
**Describe the bug**
Session tags overlap icons leading to a cluttered visual.

**To Reproduce**
Add an icon and tags to a session.

**Expected behavior**
Improve session element layout to better support tags and icons. Or maybe most sessions with icons won't have tags and it's not really much of an issue.

**Screenshots**
<img width="699" alt="Screen Shot 2022-04-12 at 08 13 25" src="https://user

[2022-04-12 14:03] abraham opened #2366 "Document setting up auth"
Improve documentation to cover enabling user authentication.

[2022-04-12 14:03] abraham commented on #2364
I've created #2366 to improve auth documentation.

For the blank "My Schedule" I think you need this change. https://github.com/gdg-x/hoverboard/commit/a1541b1d5529f485b7c3e4315d3faa3dfd53492d#diff-1a8c8378553dfd6438608db25b054dd546669c2958d8952480d6304136411735

[2022-04-13 15:34] #2364 closed

[2022-04-13 16:33] abraham commented on #2351
It appears that it's caused by #2148. Still looking into what specifically.

[2022-04-14 20:21] abraham commented on #454
Blocked until #796

[2022-04-14 20:25] #1676 closed

[2022-04-15 02:17] #2351 closed

[2022-04-27 05:44] fitiskin opened #2370 "Navbar underline is in the wrong place"
**Describe the bug**

Navbar underline highlights the wrong menu item when entering a page.

**To Reproduce**

1. Go to _any_ page from the header navbar ([/blog](https://hoverboard-master.web.app/blog) as an example) by direct link
2. See that underline appears under the "HOME" menu item, nor "BLOG"

**Expected behavior**

Underline appears under the menu item matching URL path

**Screenshots**

[2022-04-27 13:43] #2370 closed

[2022-06-19 06:32] vzrenggamani opened #2445 "Deploying Always Return Error on Github Actions"
**Describe the bug**
When I first tried to deploy this application, I always got a series of errors in github actions, including:
1. `npm ci` does not sync in functions folder.
2. `firebase realtime database` has not been setup.

**To Reproduce**
1. Fork the repository and Clone like usual
2. Open the project folder, run `npm install` on functions folder first, the lockfile is outdated.
3. go back

[2022-06-24 00:42] abraham commented on #2445
I just did a refresh of the lock files. It seems to be running `npm ci` fine now.

It looks like you're hosting on gitpod. Hoverboard only supports Firebase Hosting unless you make some custom modifications to how configuration is loaded.

[2022-06-24 06:07] vzrenggamani commented on #2445
Just found out the miss configuratiion, I think we need to update the documentation while creating the firebase account. We need to `create web app` and added web app configuration instead only the serviceaccount json, the new firebase deployment need project appid.

[code]

[2022-06-29 13:14] abraham commented on #583
Puppeteer might be able to support shadowdom now. https://github.com/puppeteer/puppeteer/pull/6509

[2022-07-28 12:52] abraham opened #2477 "Validate data schemas"
Use a tool to validate data is valid and conforms to defined schemas. Maybe use https://zod.dev/

[2022-07-29 06:21] #2445 closed

[2022-08-13 01:02] abraham commented on #698
https://adminjs.co/ might be a good option.

[2022-09-03 23:35] resand opened #2525 "Auth with Google error"
Hello,

When trying to sign in with Google I get this error:

Uncaught (in promise) FirebaseError: Firebase: Error (auth/missing-identifier).

Do I need to configure something additional for this?

I have my website online:

https://devfestcampeche.com/

[2022-09-08 07:47] #2525 closed

[2022-10-25 14:22] HugoGresse opened #2549 "Subscribe-from-footer is gone"
**Describe the bug**
In `footer-rel.ts` there should be a form for the user to subscribe to the newsletter on mailchimp.
However, the wc is not displayed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://hoverboard-master.web.app/
2. Scroll at the bottom
3. No subscribe input field

**Expected behavior**
**Screenshots**
Something like this:
![image](https://user-images.githubus

[2022-10-25 15:19] HugoGresse opened #2552 "Firefox Private window error, no website displayed"
**Describe the bug**
When opening https://hoverboard-master.web.app/ in Firefox private window, the website is not displayed

It is probably an error linked to Firebase, I'll try to look into it. It work on Chrome Incognito too.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Firefox
2. Open a new private window
3. Open https://hoverboard-master.web.app/
4. See error

**Expected behavi

[2022-10-25 16:11] HugoGresse commented on #2552
Uppon investigation, it's linked to the notification only = `notification-permission/index.ts`

[2022-10-29 16:49] #2549 closed

[2022-10-30 00:20] #2552 closed